<main id="form-container">
    <div id="forget-component">
        <h1>Forgot your password?</h1>
        <p>
            We are sorry, since Drafy does not support emails we cannot reset your password. If you have questions, please email Shaun Wallace at <b>shaun_wallace@brown.edu</b>.
        </p>
        {{> account/signup-modal }}
    </div>
</main>
<script src="/js/bundles/form.js"></script>
