<main id="form-container">
    <div id="forget-component">
        <h1>Reset your password</h1>
        <form action="/forget" method="post" id="forget-form" class="custom-validation" autocomplete novalidate>
            {{> csrf }}
            {{> account/email-input-component }}
            <button type="submit">Send password reset email</button>
        </form>
        {{> account/signup-modal }}
    </div>
</main>
<script src="/js/bundles/form.js"></script>
