<main id="form-container">
    <div id="login-component">
        <h1>Sign in to Drafty</h1>
        <form action="/login" method="post" id="login-form" class="custom-validation" autocomplete novalidate>
            {{> csrf }}
            {{> account/email-input-component }}
            {{> account/password-input-component showForget=true }}
            <button type="submit">Submit</button>
        </form>
        {{> account/signup-modal }}
    </div>
</main>
<script src="/js/form.js"></script>
