<main id="form-container">
    <div id="login-component">
        <h1>Sign in to Drafty</h1>
        <form id="login-form" action="/login" method="POST" class="custom-validation">
            {{> csrf }}
            {{> account/username-input-component }}
            {{> account/password-input-component showForget=true }}
            <button type="submit" value="Submit">Submit</button>
        </form>
        {{> account/signup-modal showEmailUsageExplanation=true }}
    </div>
</main>
<script src="/js/bundles/form.js"></script>
