<main>
    <div id="login-component">
        <h1>Sign in to Drafty</h1>
        <form id="login-form" class="custom-validation" novalidate>
            <div>
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="email-usage-explanation" placeholder="Enter email" required>
                <small id="email-usage-explanation" class="form-text text-muted">Your email will only be used to retrieve your account.</small>
                <div class="invalid-feedback">
                    Please provide a valid email.
                </div>
            </div>
            <div>
                <label for="password">
                    Password
                    <a href="/forget" title="forget password?">Forget password?</a>
                </label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                <div class="invalid-feedback">
                    Please fill out the password field.
                </div>
            </div>
            <button type="submit">Submit</button>
        </form>
        <div id="signup-container">
            Doesn't have an account yet? <a href="signup" title="signup">Sign up!</a>
        </div>
    </div>
</main>
<script src="/js/form.js"></script>
