<main id="form-container">
    <div id="forget-component">
        <h1>Reset your password</h1>
        <form method="post" id="forget-form" class="custom-validation" autocomplete novalidate>
            {{> account/csrf }}
            <div>
                <label for="email">Your Email</label>
                <input type="text" readonly class="form-control-plaintext" id="email" value="{{email}}">
            </div>
            {{> account/password-input-component showPasswordUsageExplanation=true }}
            {{> account/confirm-input-component }}
            <button type="submit">Change password</button>
        </form>
    </div>
</main>
<script src="/js/form.js"></script>
