<main id="form-container">
    <div id="signup-component">
        <h1>Create your account</h1>
        <form action="/signup" method="post" id="signup-form" class="custom-validation" autocomplete novalidate>
            {{> account/csrf }}
            {{> account/email-input-component }}
            {{> account/password-input-component showPasswordUsageExplanation=true }}
            {{> account/confirm-input-component }}
            <button type="submit">Submit</button>
        </form>
        <div id="login-container">
            Already have an account? <a href="/login" title="log in">Log in!</a>
        </div>
    </div>
    <section id="info-section">
        <p>
            Thank you so much for deciding to create an account with Drafty!<i class="far fa-laugh-beam"></i>
        </p>
        <p>
            Drafty is a user-centric<i class="fas fa-users"></i> platform to edit and maintain structured datasets. It is with your support that we can maintain the high-quality spreadsheets in Drafty.
        </p>
        <p>
            By creating an account, you agree<i class="far fa-thumbs-up"></i> all interactions performed under this account could be captured and used anonymously for Brown HCI Research.
        </p>
    </section>
</main>
<script src="/js/form.js"></script>
