<main id="form-container">
    <div id="signup-component">
        <h1>Create your account</h1>
        <form action="/signup" method="post" id="signup-form" class="custom-validation" autocomplete="off" novalidate>
            {{> csrf }}
            {{> account/username-input-component }}
            {{> account/password-input-component showPasswordUsageExplanation=true }}
            {{> account/confirm-input-component }}
            <button type="submit">Submit</button>
            <section id="info-section">
                <p>
                    Thank you so much for creating an account with Drafty! It is with your continued support we can maintain the high-quality tabular data.<i class="far fa-laugh-beam"></i>
                </p>
                <p>
                    By creating an account, you agree<i class="far fa-thumbs-up"></i> all interactions performed under this account could be captured and used anonymously for Brown HCI Research.
                </p>
            </section>  
        </form>
        {{> account/signin-modal }}
    </div>
</main>
<script src="/js/bundles/form.js"></script>
