/////// HOLY GRAIL

/**
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent some browsers from
 *    letting these items shrink to smaller than their content's default
 *    minimum size. See http://bit.ly/1Mn35US for details.
 * 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
 */

.HolyGrail {
  display: flex;
  height: 100%; /* 1, 3 */
  flex-direction: column;
}

.HolyGrail-header {
    //display: flex;
    flex-direction: column;
    //padding: 1em;
    width: 100%;
  
    width: 100%;
    background-color: #197de1;
    background-image: linear-gradient(to bottom,#166ed5 98%, #1b87e3 2%);
    box-shadow: inset 0 1px 0 #4d98e6, inset 0 -1px 0 #166bca, 0 2px 3px rgba(0, 0, 0, 0.05);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
}

.HolyGrail-header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
 	width: 100%;
    background: none;
    border: none;
    box-shadow: none;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    padding-top: 1em;
}

.HolyGrail-header-actions {
    display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.HolyGrail-menu-item {
    padding: 1em .5em;
    cursor: pointer;
    
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.HolyGrail-menu-item:hover {
    background-color: rgba(186, 186, 186, 0.1);
}

.HolyGrail-user-menu-item {
    border: none;
    background: none;
    box-shadow: none;
    cursor: pointer;
    
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
    font-family: 'Lato', sans-serif;
    
    margin-left: 1em;
    
    font-size: 16px;
	margin-top: 1em;
}

.HolyGrail-user-menu-item:hover {
    background-color: rgba(186, 186, 186, 0.1);
}

.HolyGrail-body {
  display: flex;
  flex-direction: column;
  padding: var(--space);
}

.HolyGrail-content {
  margin-top: var(--space);
}

.HolyGrail-sideLeft {
  order: -1;
}

.HolyGrail-sideLeft,
.HolyGrail-sideRight {
  padding: 1em;
  border-radius: 3px;
  //background: rgba(147, 128, 108, 0.1);
  background: #e6edf4;
}

.HolyGrail-search {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0em;
}
.HolyGrail-search-item {
	margin-bottom: 0em;
	position: relative;
	text-align: center;
	white-space: nowrap;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	cursor: pointer;
	height: 37px;
	padding: 6px 16px;
	color: #8a8a8a;
	font-weight: 400;
	border-radius: 0px;
    border: solid 1px #e5e5e5;
	@include linear-gradient(to bottom, #fafafa 2%, #efefef 98%);
	background-color: #f7f7f7;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
}
.HolyGrail-search-item:hover {
	background: rgba(186, 186, 186, 0.1);
}
.HolyGrail-search-box {
	padding-right: 3em;
}
.HolyGrail-search-clear {
    border-left: 1px solid #e4e4e4;
	background: white;
    color: #a3a3a3;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.HolyGrail-search-new-row {
	margin-left: 0em;
	color: #197de1;
}

@media (min-width: 1000px) {
	.HolyGrail-search {
		display: flex;
		align-items: center;
		flex-direction: row;
		margin: 0em 1em 0em 0em;
	}
	.HolyGrail-search-box {
		padding-right: 3em;
	}
	.HolyGrail-search-new-row {
		margin-left: 2em; //sw - removed due to reordering searchbar
		max-width: 180px;
	}
}



@media (min-width: 768px) {
	.HolyGrail-header {
	  display: flex;
	  flex-direction: row;
	}
	
	.HolyGrail-header-title {
	    display: flex;
		justify-content: flex-start;
		padding-left: 1em;
		padding-top: 0em;
	}
	
	.HolyGrail-header-actions {
	    display: flex;
		justify-content: flex-end;
	}

    .HolyGrail-body {
    	flex-direction: row;
    	flex: 1;
    }
    .HolyGrail-content {
    	flex: 1;
    }
    .HolyGrail-sideLeft, .HolyGrail-sideRight {
    	/* 12em is the width of the columns */
    	flex: 0 0 12em;
    }
    
    .HolyGrail-menu-item {
    	font-size: 16px;
		margin-top: 0em;
	}
}

//overwriting Vaadin default mobile padding
.dashboard .valo-menu-responsive[width-range~="0-800px"] {
    padding-top: 0px;
}

.v-scrollable  > .v-widget {
	//vertical-align: middle;
	//overflow: hidden;
}

.dashboard .v-button {
	position: relative;
	text-align: center;
	white-space: nowrap;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	cursor: pointer;
	height: 37px;
	padding: 0 16px;
	color: #fcfcfc;
	font-weight: 400;
	border-radius: 1px;
	border: 0px;
	background-color: #197de1;
	background-image: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
}

.HolyGrail-sideTitle {
	white-space: pre-wrap;
}

.dashboard .v-label-undef-w {
    white-space: pre-wrap;
}

.dashboard .v-grid-cell {
    font-size: 14px;
}

.dashboard .v-filterselect {
	font-size: 14px;
}

.dashboard {
	font-size: 14px;
}