<html>
  <head>
    <title>Parcel Sandbox</title>
    <meta charset="UTF-8" />
  </head>

  <body>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="src/index.ts"></script>
    <div id="comments" aria-disabled="true">
      <div id="newComment">
        <input id="newCommentTextbox" />
        <button id="submit">comment</button>
      </div>
      <div id="commentsContainer"></div>
    </div>
  </body>
</html>
