<div id="comments-root" aria-disabled="false">
  <span class="fa-stack fa-2x default-fonts" style="background: #1089ff; width: 180px; border-radius: 10px;" id="commentIcon">
    <span class="comments-btn-label">View Comments</span>
  </span>

  <div id="comments" class="default-fonts">
    <div id="comment-header">
      <div id="comment-label"></div>
      <i class="fas fa-times" id="comment-close"></i>
    </div>
    <div id="newComment">
      <input id="newCommentTextbox" class="form-control" placeholder="Enter note..." autocomplete="off"/>
      <button id="comment-button">Add</button>
    </div>
    <div id="commentsContainer"></div>
  </div>
</div>
