<div id="comments-root" aria-disabled="false">
  <span class="fa-stack fa-2x" id="commentIcon">
    <i class="fas fa-circle fa-stack-2x icon-background" id="comment-icon-background"></i>
    <i class="fa fa-comment-medical fa-stack-1x" style="color:white"></i>
  </span>
  <div id="comments">
    <div id="comment-header">
      <div id="comment-label"></div>
      <i class="fas fa-times" id="comment-close"></i>
    </div>
    <div id="newComment">
      <input id="newCommentTextbox" class="form-control" placeholder="Enter comment..." autocomplete="off"/>
      <button id="comment-button">Comment</button>
    </div>
    <div id="commentsContainer"></div>
  </div>
</div>
