<div id="comments" aria-disabled="true">
  <div id="newComment">
    <input id="newCommentTextbox" />
    <button id="submit">comment</button>
  </div>
  hello world shaun
  <div id="commentsContainer"></div>
</div>
<script src="/js/bundles/comments.js"></script>