<div id="comments">
  <div id="newComment">
    <input id="newCommentTextbox" />
    <button id="comment-button">comment</button>
  </div>
  <div id="commentsContainer"></div>
</div>
<script src="/js/bundles/comments.js"></script>