<div id="comments-root" aria-disabled="false">
  <span class="fa-stack fa-2x" id="commentIcon">
    <i class="fas fa-circle fa-stack-2x icon-background" style="color:#1089ff"></i>
    <i class="fa fa-comment fa-stack-1x" style="color:white"></i>
  </span>
  <div id="comments">
    <div id="comment-label">
      Comments for Jeff Huang
      <i class="fas fa-window-close" id="comment-close" style="color:grey"></i>
    </div>
    <div id="newComment">
      <input id="newCommentTextbox" />
      <button id="comment-button">comment</button>
    </div>
    <div id="commentsContainer"></div>
  </div>
  <script src="/js/bundles/comments.js"></script>
</div>