<!-- The Modal - OLD CODE -->
<div id="welcome-screen" tabindex="-1" role="dialog" aira-hidden="true" data-backdrop="static" style="display:block">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="/* font-size: 1.75em; */">Did you know...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i data-dismiss="modal" class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body" style="padding-top: 21px !important;">
          <p style="font-size: 18px;">
            Brown University has hired 4 times as many professors as Boston University over the past 10 years.
          </p>

          <p id="welcome-screen-research-group">
              <b>We shared a <a href="#">Tweet</a> based on your edit!</b>
          </p>

          <p style="text-align: center;color: gray;margin-top: 1em !important;margin-bottom: 0.5em !important;">
            Thank you for keeping Drafty up-to-date. :)
            <br>    
            <i>Select <a href="#">here</a> to opt-out of having your edits generate insights.</i>
        </p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">
              <i class="far fa-thumbs-up"></i>
              Go back to Editing
          </button>
      </div>
    </div>
  </div>
</div>
