<div id="dce-survey-banner" class="px-3 py-3 my-4 text-center" style="display:block">
    <h1 class="display-5 fw-bold">Please help us create a better Drafty! :)</h1>
    <div class="col-lg-7 mx-auto">
        <p class="lead mb-4">
            Please take our 30-minute survey to help us understand how to better support individuals who make online contributions. You will be paid $7.00 for completing the survey.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a id="survey-link" href="#" target="_blank">
                <button id="take-dce-survey" type="button" class="btn btn-primary btn-lg px-4 mr-3 display-5">Take Survey <i class="fa fa-external-link-alt" aria-hidden="true"></i></button>
            </a>
            <button id="close-dce-survey-banner" type="button" class="btn btn-outline-secondary btn-lg px-4">Close</button>
        </div>
    </div>
</div>
<script src="/js/bundles/dce_survey.js"></script>