<div class="px-3 py-3 my-4 text-center">
    <h1 class="display-5 fw-bold">Please help us create a better Drafty! :)</h1>
    <div class="col-lg-7 mx-auto">
        <p class="lead mb-4">
            Please complete our 30 minute survey to help us understand how to create systems that better support individuals who make online contributions. After completing the survey you will be paid $7.00.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button id="take-dce-survey" type="button" class="btn btn-primary btn-lg px-4 mr-3 display-5">Take Survey <i class="fa fa-external-link-alt" aria-hidden="true"></i></button>
            <button id="close-dce-survey-banner" type="button" class="btn btn-outline-secondary btn-lg px-4">Close</button>
        </div>
    </div>
</div>