<div id="dce-survey-banner" class="px-3 py-3 my-4 text-center" style="display:block">
    <h1 class="display-5 fw-bold">Please help us create a better Drafty! :) {{username}}</h1>
    <div class="col-lg-7 mx-auto">
        <p class="lead mb-4" style="max-width: 720px; text-align: center; margin: auto; font-size: 1.3em;">
            Please take our 20-minute survey to help us understand how to better support individuals who make online contributions. One in four respondents will receive a $25 gift card.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a id="survey-link" href="#">
                <button id="take-dce-survey" type="button" class="btn btn-primary btn-lg px-4 mr-3 display-5">Take Survey </button>
            </a>
            <button id="close-dce-survey-banner" type="button" class="btn btn-outline-secondary btn-lg px-4">Close</button>
        </div>
        <p class="mt-4 mb-0">
            <small>
            Anyone can participate in this Brown University Research Study conducted by Shaun Wallace (shaun_wallace@brown.edu). 
            <br>There are no anticipated direct benefits. Study Protocol #2022003488.
            </small>
        </p>
    </div>
</div>
<script src="/js/bundles/dce_survey.js"></script>