<!-- The Modal -->
<div id="deleteRowModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <h5>To delete a row...</h5>
    <p>
        Please email <b>shaun_wallace@brown.edu</b> with the following information:
        <ul>
            <li>The Professor's Full Name</li>
            <li>The Professor's University <i>(as listed in Drafty)</i></li>
            <li>And, the reason to delete a row.</li>
        </ul>
    </p>
    <p>
        <i>We are currently working on new functionality to delete a row.</i>
    </p>
    <button id='btn-modal-close' type="button" 
            class="btn btn-secondary btn-block btn-close">
      <i class="fas fa-times"></i> Close
    </button>
  </div>
</div>