{{#if messages.errors}}
   alert alert-danger fade show
    button close(type='button', data-dismiss='alert')
      i fa fa-times-circle-o
    for error in messages errors
      div= error msg
{{/if}}
{{#if messages.info}}
   <div class="alert alert-info fade show">
    <button class="close" type='button', data-dismiss='alert'></button>
      <i class="fa fa-times-circle-o"></i>
    for info in messages info
      <div>{{info.msg}}</div>
    </div>
{{/if}}
{{#if messages.success}}
   alert alert-success fade show
    button close(type='button', data-dismiss='alert')
      i fa fa-times-circle-o
    for success in messages success
      div= success msg
{{/if}}