<div id="flash-messages">
    {{#if messages.errors}}
        {{#with messages.errors as |errors|}}
            <div id="flash-errors">
                {{#each errors}}
                    {{> single-flash}}
                {{/each}}
            </div>
        {{/with}}
    {{/if}}

    {{#if messages.info}}
        {{#with messages.info as |info|}}
            <div id="flash-infos">
                {{#each info}}
                    {{> single-flash}}
                {{/each}}
            </div>
        {{/with}}
    {{/if}}

    {{#if messages.success}}
        {{#with messages.success as |success|}}
            <div id="flash-successes">
                {{#each success}}
                    {{> single-flash}}
                {{/each}}
            </div>
        {{/with}}
    {{/if}}
</div>