<div id="helpus-screen" class="modal" tabindex="-1" role="dialog" data-backdrop="static" style="display:none">
  <div class="modal-content" style="padding-top: 0.5em; padding-bottom: 0em;">
    <div class="modal-header">
      <h5 id="helpus-modal-title" class="modal-title" style="/* font-size: 1.75em; */">Help us!</h5>
    </div>

    <div class="modal-body" style="padding-top: 21px !important;">
      <p id="helpus-text" style="font-size: 20px; margin: 0em; min-height: 6em; border-radius: 3.5px; padding: 1em; background-image: linear-gradient(to right, rgba(0,0,0,0.03), rgb(0,0,0,0.01), rgba(0,0,0,.03));">
      </p>

      <div style="display: flex;">
        <button type="button" id="btn-databait-similar" class="btn btn btn-outline-primary btn-block" style="align-items: flex-start; margin: 0.5em 0.25em 0.5em 0em;">
          Yes
        </button>
      </div>
      <div style="display: flex;">
        <button type="button" id="btn-databait-similar" class="btn btn btn-outline-secondary btn-block" style="align-items: flex-start; margin: 0.5em 0.25em 0.5em 0em;">
          No, but show me another
        </button>
      </div>
    </div>

    <div class="modal-body" style="padding-top: 0px !important;">
      <p style="border-bottom: 1px solid #dee2e6 !important;"></p>
      <button type="button" id="helpusModalClose" class="btn btn btn-outline-secondary btn-block" data-dismiss="modal">
          Close
      </button>
      <p id="helpus-contribution-confirmation" style="text-align: center; font-size: 1.25em; color: gray; margin-top: 1em !important;margin-bottom: 0.5em !important;"></p>
    </div>
  </div>
</div>
