<style>
#helpus-input:focus {
  outline: none;
}

#helpus-close {
  height:32px;
  color:#ced4da;
  cursor:pointer
}

#helpus-close:hover {
  color:#adb5bd
}

</style>
<div id="helpus-screen" class="modal" tabindex="-1" role="dialog" data-backdrop="static" style="display:none">
  <div class="modal-content" style="padding-top: 0.5em; padding-bottom: 0em;">
    <div class="modal-header">
      <h5 id="helpus-modal-title" class="modal-title" style="/* font-size: 1.75em; */">Help us!</h5>
      <i class="fas fa-times" id="helpus-close"></i>
    </div>
    <div class="modal-body" style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding-top: 21px !important;">
      <p id="helpus-text" style="font-size: 20px; margin: 0em; min-height: 6em; border-radius: 3.5px; padding: 1em; background-image: linear-gradient(to right, rgba(0,0,0,0.03), rgb(0,0,0,0.01), rgba(0,0,0,.03));"></p>
      <div id= "helpus-default-interaction" style="display: flex; font-size: 16px; color: #1089ff; justify-content: center; align-items: center; margin: 1em; outline: none;}">
        Yes!
        <input type="text" id="helpus-input" placeholder = 'type here...' style="align-items: flex-start; margin: 0em 1em; border: none; border-bottom: 2px solid #1089ff;"></input>
      </div>
      <div id= "helpus-phd-interaction" style="display: none; font-size: 16px; color: #1089ff; justify-content: center; align-items: center; margin: 1em; outline: none;}">
        <div id= "helpus-button-wrapper" style="display: flex; font-size: 16px; color: #1089ff; justify-content: center; align-items: center; margin: 1em; outline: none;}">
          <input type="button" value="Yes, they are!" id="helpus-phd-yes" class="btn btn btn-outline-primary btn-block" style="width: 8em; align-items: flex-start; margin: 0.5em 0.25em 0.5em 0em;">
          </input>
          <input type="button" value="No, not now." id="helpus-phd-no" class="btn btn btn-outline-primary btn-block" style="width: 8em; align-items: flex-start; margin: 0.5em 0.25em 0.5em 0em;">
          </input>
        </div>
      </div>
      <button type="button" id="btn-helpus-submit" class="btn btn btn-outline-primary btn-block" style="width: 8em; margin: 0.5em 0.25em 0.5em 0em;">
        submit
      </button>
      <div style="display: flex;">
        <button type="button" id="btn-helpus-next" class="btn btn btn-outline-secondary btn-block" style="align-items: flex-start; margin: 0.5em 0.25em 0.5em 0em;">
          I am not sure, but show me another
        </button>
      </div>
    </div>

    <div class="modal-body" style="padding-top: 0px !important;">
      <p style="border-bottom: 1px solid #dee2e6 !important;"></p>
      <button type="button" id="helpusModalClose" class="btn btn btn-outline-secondary btn-block" data-dismiss="modal">
          Close
      </button>
      <p id="helpus-contribution-confirmation" style="text-align: center; font-size: 1.25em; color: gray; margin-top: 1em !important;margin-bottom: 0.5em !important;"></p>
    </div>
  </div>
</div>
