<div id="irb-footer" class="irb-footer">
    © Brown University - Computer Science - Human Computer Interaction Research Group. Drafty is a research project. All interactions are captured and used anonymously for studies.
</div>