<script src="/js/navbar.js"></script>
<nav>
    <a class="navbar-brand" href="/">Drafty</a>
    <div class="collapse navbar-collapse">
         <ul class="navbar-nav">
             <li class="nav-item">
                 <span id="navbar-sheet">
                     {{ sheetName }}
                     <div class="dropdown-menu" aria-labelledby="navabr-sheet">
                         {{#eachInMap sheetNameToSheetURLName}}
                             <a class="dropdown-item{{selected ../sheetName key}}" href="{{value}}">
                                 {{key}}
                             </a>
                         {{/eachInMap}}
                     </div>
                 </span>
             </li>
             <li class="nav-item">
                 <span id="navbar-credits">
                     Credits
                 </span>
             </li>
         </ul>
    </div>
</nav>
