<form id="table-cell-input-form" class="custom-validation" autocomplete novalidate>
    {{> csrf }}
    <div>
        <button id="locate-cell" type="button">
            <i id="locate-cell-icon"></i>
            <span id="locate-cell-row-col">
                <span id="locate-cell-associated-col"></span>
            </span>
            <span id="locate-cell-explanation">
                Return To Cell
            </span>
        </button>
        <div>
            <input
                id="table-cell-input-entry"
                name="entry"
                type="search"
                autocomplete="off"
                class="form-control"
                aria-label="enter new cell value"
                required
                >
            <div id="table-cell-input-feedback">
            </div>
        </div>
        <div id="input-form-legend">
            <span>Auto Completions</span>
            <span> &amp; </span>
            <span>Previous Edits</span>
        </div>
    </div>
</form>
