<div id="table-column-sort-panel">
    <template>
        <div class="column-sorter" data-column-index="1">
            <i class="column-sorter-reorder-grip" title="reorder sort"></i>
            <span class="column-sorter-sortby-text">
                Sort by
            </span>
            <select class="column-sorter-column-select">
                <option selected>FullName</option>
                <option>University</option>
                <option>JoinYear</option>
                <option>SubField</option>
                <option>Bachelors</option>
                <option>Doctorate</option>
            </select>
            <i class="column-sorter-order" title="toggle sort order"></i>
            <i class="column-sorter-delete" aria-label="close" title="remove sort"></i>
        </div>
    </template>
</div>
