<div id="welcome-screen" tabindex="-1" role="dialog" aira-hidden="true" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" style="font-size: 1.75em;">Welcome to Drafty</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i data-dismiss="modal" class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
          <p>Drafty is a user-centric <i class="fas fa-users"></i> platform to edit and maintain tabular data.
          </p>
          <p>
              Cookies <i class="fas fa-cookie-bite"></i> are used to track per browser usage. All interactions are captured anonymously.
          </p>
          <p><b>To edit data <i class="far fa-edit"></i>, double-click a cell.</b></p>
          <p id="welcome-screen-research-group">
              <a href="https://hci.cs.brown.edu">Human Computer Interaction Research Group</a><br>
              <a href="https://cs.brown.edu">Brown University Computer Science</a>
          </p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">
              Proceed to Drafty
          </button>
      </div>
    </div>
  </div>
</div>
