*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
/target/*
*.prefs
*.name
.project
.settings/.jsdtscope
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.jsdt.ui.superType.container
*.class
*.class
target/test-classes/com/vaadin/demo/dashboard/tb/TBUtils.class
*.class
*.class
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
target/m2e-wtp/web-resources/META-INF/maven/com.vaadin.demo/ajobs/pom.properties
target/m2e-wtp/web-resources/META-INF/maven/com.vaadin.demo/ajobs/pom.xml
*.class
.classpath
.DS_Store
*.class
*.MF
*.class
