# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime.
# See README for more details.
NODE_ENV=dev

# Put lots of randomness in these
SESSION_SECRET=changme

# DB_HOST for production
DB_HOST=changme
# DB_HOST for development
DB_HOST_LOCAL=changme

# DB_USER for production
DB_USER=changme
# DB_USER for development
DB_USER_LOCAL=changme

# DB_PASSWORD for production
DB_PASSWORD=changme
# DB_PASSWORD for development
DB_PASSWORD_LOCAL=changme

# DB_DATABASE for production
DB_DATABASE=changme
# DB_DATABASE for development
DB_DATABASE_LOCAL=changme

# SHEET: DB_DATABASE | DB_HOST | DB_USER | DB_PASSWORD

DB_USER_PROD=changme
DB_PASS_PROD=changme

# twitter stuff
API_KEY=changme
API_SECRET_KEY=changme
ACCESS_TOKEN=changme
ACCESS_TOKEN_SECRET=changme
BEARER_TOKEN=changme

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"