<main class="container-fluid px-0">
    <div class="row">
        <section class="col bg-primary d-flex justify-content-center align-items-center">
            <img src="/images/thumbnail/thumbnail.png" alt="thumbnail of spreadsheet page" class="img-thumbnail">
        </section>
        <section class="col bg-white">
            <div id="introduction" class="mb-5">
                <h1 class="text-primary">Drafty</h1>
                <h2 class="text-dark">A Smarter Wiki For Data</h2>
                <p class="font-weight-light text-muted my-2">
                    Drafty strives to keep data up-to-date by recruiting people to review it from the crowd of people who are already using it. The data is hosted on Drafty, a web-based spreadsheet. Potential reviewers are matched to topics they likely have an interest in, by inferring their interest from interactions such as text highlighting, pointing, searching, sorting, and clicks. This continual review allows the maintenance of data to be self-sustaining over time.
                </p>
            </div>
            <div id="sheets">
                <h5>Hosted Spreadsheets</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://drafty.cs.brown.edu/professors/">Computer Science Professors</a>
                        <p>See an <a href="https://jeffhuang.com/computer_science_professors.html">analysis of computer science hiring trends</a>
                        </p>
                    </li>
                    <li>
                        <a href="https://drafty.cs.brown.edu/ajobs/">Academic Jobs</a>
                    </li>
                </ul>
            </div>
            <div id="articles">
                <h5>Articles and Publications</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://jeffhuang.com/Final_Drafty_HCOMP17.pdf">Drafty: Enlisting Users to be Editors who Maintain Structured Data</a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</main>