<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <title>{{title}} - Drafty</title>
    <meta name="description" content="Drafty - A Smarter web-based spreadsheet for data which allows the maintenance of data to be self-sustaining over time." />
    <meta name="copyright" content="Brown HCI Group">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#4DA5F4" />
    <meta name="csrf-token" content="{{_csrf}}" />
    <link rel="stylesheet" href="/css/main.css" />
     <!--<link rel="shortcut icon" href="/images/favicon.png" /> -->

    <!-- Google Analytics Tracking -->
    <!--
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0NCX6W82W8"></script>
    <script>
        if(window.location.href.includes('drafty.cs.brown.edu')) {
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());

              gtag('config', 'G-0NCX6W82W8');
        }
    </script>
    -->
</head>
<body>
    {{#unless ignoreHeader}}
        {{> header}}
    {{/unless}}
    {{> flash}}
    {{{body}}}
    {{#unless ignoreFooter}}
        {{> footer}}
    {{/unless}}
    <script src="/js/main.js"></script>
    <script src="/js/flash.js"></script>
    <noscript>
        <div id="noscript-modal" tabindex="-1" role="dialog" data-backdrop="static">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <p>
                    Drafty requires Javascript to function normally. Please enable Javascript before starting use Drafty.
                </p>
              </div>
            </div>
          </div>
        </div>
    </noscript>
</body>
</html>