$components: "#login-component", "#signup-component", "#forget-component";

#form-container {
  @extend .d-flex;
  @extend .flex-column;
  @extend .align-items-center;
  @extend .bg-light;
  @extend .overflow-auto;
  @extend .px-2;

  @each $component in $components {
    #{$component} {
      @extend .my-0;
      @extend .my-md-5;
      & > * {
        @extend .my-4;
      }

      h1 {
        @extend .h3;
        @extend .text-center;
      }

      form {
        @extend .card;
        @extend .p-5;
        label {
          @extend .d-block;
        }

        label[for="password"] {
          a {
            @extend .float-right;
            @extend .font-size-small;
            @extend .text-decoration-none;
          }
        }

        div  {
          @extend .position-relative;
        }

        button[type="submit"] {
          @extend .mt-2;
        }

        .form-text {
          @extend .text-muted;
          @extend .text-wrap;
        }
      }

      #login-container, #signup-container {
        @extend .text-center;
        @extend .border;
        @extend .py-3;
      }

      .form-control-plaintext {
        @extend .text-primary;
      }
    }
  }

  #info-section {
    p {
      @extend .text-muted;
      @extend .font-size-small;
      &:hover {
        i {
            @extend .text-info;
          }
      }
      i {
        @extend .ml-1;
      }
    }
  }

  @include media-breakpoint-up(md) {
    $width: 500px;
    #info-section {
        width: $width;
    }
    @each $component in $components {
      #{$component} {
        width: $width;
      }
    }
  }
}
