$shadow-width: 3px;
$resize-shadow-width: 3px;
$visual-cue-width: 5px;
$resize-color: #B0D0D3;

$border-top: inset 0px 1px 0px 0px $table-border-color;
$border-top-bottom: inset 0px 1px 0px 0px $table-border-color, inset 0px -1px 0px 0px $table-border-color;

%cell-overflow {
    @extend .overflow-hidden;
    @extend .text-nowrap;
    @extend .text-break;
    text-overflow: ellipsis;
}

#noscript-modal {
  @extend .modal;
  @extend .d-block;
  z-index: $zindex-nav + 2;
  background-color: rgba(0, 0, 0, 0.5);
  .modal-dialog {
    @extend .modal-lg;
    @extend  .modal-dialog-centered;

    .modal-body {
      @extend .px-4;
      @extend .pt-4;
      @extend .pb-2;
      @extend .text-center;
    }
  }
}

#table-container {
  @extend .px-0;
  @extend .position-relative;

  & > div {
    @extend .w-100;
    @extend .h-100;
    @extend .overflow-auto;
    #resize-visual-cue {
      @extend .h-100;
      @extend .position-absolute;
      @extend .d-none;
      pointer-events: none;
      background-color: rgba($resize-color, 0.5);
      width: $visual-cue-width !important;
      top: 0;
      left: 0;
      &.active {
        z-index: $zindex-popover;
        @extend .d-block;
      }
    }

    #table-column-sort-panel {
      @extend .position-absolute;
      @extend .flex-column;
      @extend .bg-light;
      @extend .pt-1;
      @extend .px-2;
      @extend .d-none;
      @extend .border;
      @extend .shadow;
      z-index: $zindex-nav + 2;

      &.active {
        @extend .d-flex;
      }

      .column-sorter {
        @extend .py-1;
        @extend .mb-1;
        @extend .d-flex;
        @extend .text-secondary;
        @extend .align-items-center;

        &.near-top-border {
          @include vendor-prefix(box-shadow, inset 0 $resize-shadow-width 0 0 $primary, webkit ms);
        }

        &.near-bottom-border {
          @include vendor-prefix(box-shadow, inset 0 -$resize-shadow-width 0 0 $primary, webkit ms);
        }

        .column-sorter-reorder-grip {
          @extend .fas;
          @extend .fa-grip-vertical;
          @extend .pl-2;
          @extend .pr-4;
          cursor: move;

          &:hover {
            @extend .text-info;
          }

          &.active {
            @extend .text-primary;
          }
        }
        .column-sorter-sortby-text {
          @extend .text-nowrap;
          @extend .d-inline-block;
          @extend .unselectable;
          width: 64px;
        }

        .column-sorter-column-select {
          @extend .mr-3;
          @extend .custom-select;
          @include vendor-prefix(appearance, none, webkit moz);
        }

        .column-sorter-order {
          @extend .fas;
          @extend .clickable;
          @extend .fa-sort-alpha-down;
          &.desc {
            @extend .fa-sort-alpha-down-alt;
          }
          &:hover {
            @extend .text-dark;
          }
        }

        .column-sorter-delete {
          @extend .fas;
          @extend .fa-times;
          @extend .clickable;
          @extend .ml-4;
          @extend .mr-2;

          &:hover {
            @extend .text-dark;
          }
        }
      }
    }

    #table-cell-input-form {
      @extend .float-window;
      max-width: 90vw;
      cursor: move;
      #locate-cell {
        @extend .btn;
        @extend .btn-primary;
        @extend .btn-sm;
        @extend .d-none;
        @extend .w-100;
        #locate-cell-icon {
          @extend .fas;
          @extend .fa-map-marker-alt;
        }
        #locate-cell-row-col {
          @extend .font-size-small;
          #locate-cell-associated-row, #locate-cell-associated-col {
            @extend .font-weight-bold;
          }
        }
        #locate-cell-explanation {
          @extend .d-none;
        }
        &:hover {
          #locate-cell-icon, #locate-cell-row-col {
            @extend .d-none;
          }
          #locate-cell-explanation {
            @extend .d-inline-block;
          }
        }
        &.active {
          @extend .d-inline-block;
        }
      }
      #table-cell-input-feedback {
        @extend .invalid-feedback;
        padding-left: 0.75em;
        &:active {
          @extend .d-block;
        }
      }
      #table-cell-input-save {
        @extend .btn;
        @extend .btn-primary;
        @extend .btn-sm;
        @extend .float-right;
      }
      #input-form-legend {
        @extend .font-size-small;
        @extend .font-weight-lighter;
        @extend .text-right;
        span:nth-child(2) {
          @extend .text-muted;
        }
        span:nth-child(3) {
          color: $orange;
        }
      }
      & > div {
        @extend .mb-0;
        @extend .px-1;
      }
    }
  }

  table {
    @extend .table;
    @extend .table-bordered;
    @extend .table-striped;
    @extend .mb-0;
    @extend .sticky-top;
    @extend .border-bottom-0;
    table-layout: fixed;
    border-collapse: collapse;

    col {
      width: 10vw;
      &.active {
        background-color: rgba($primary, 0.1);
      }

      &.copied {
        background-color: rgba($info, 0.1);
      }
    }

    tr {
      &.active {
        background-color: rgba($primary, 0.1) !important;
      }
    }

    th, td {
      @extend %cell-overflow;
      @extend .unselectable;
      &:focus {
        outline: none;
      }
      &[contenteditable="false"] {
        @extend .text-muted;
      }
    }

    thead, tfoot {
      @extend .thead-light;
      tr {
        &#column-label-row {
          &.resize-border {
            cursor: ew-resize !important;
          }
        }
      }
      th {
        border-bottom-width: 1px;
        .sort-btn {
          @extend .btn;
          @extend .btn-sm;
          @extend .d-none;
          @extend .float-right;
          @extend .fas;
          &.clicked {
            @extend .d-inline-block;
          }
          @extend .fa-sort-alpha-down;
          &.desc {
            @extend .fa-sort-alpha-down-alt;
          }
        }
        &.hover {
          .sort-btn {
            @extend .d-inline-block;
            @extend .btn-outline-primary;
            &.clicked {
              @extend .btn-primary;
            }
          }
        }
        &.active, &.inputting {
          @extend .bg-primary;
          @extend .text-white;
          .sort-btn {
            @extend .d-inline-block;
            @extend .btn-outline-light;
            &.clicked {
              @extend .btn-light;
            }
          }
        }
        &.copied {
          @extend .bg-info;
          @extend .text-white;
        }
        &.active-accompany {
          @extend .bg-secondary;
          @extend .text-white;
        }
        &.near-left-border, &.near-right-border {
          cursor: col-resize;
        }
        @keyframes barberpole {
          from { background-position: 0 0; }
          to   { background-position: 98px 49px; }
        }
        &.near-right-border {
          background-size: 49px 49px;
          background-image: linear-gradient(
            45deg,
            rgba($resize-color, 0.1)  25%,
            transparent       25%,
            transparent       50%,
            rgba($resize-color, 0.1)  50%,
            rgba($resize-color, 0.1)  75%,
            transparent       75%,
            transparent
          );
          animation: barberpole 1s linear infinite;
          @include vendor-prefix(box-shadow, (inset $resize-shadow-width 0 0 0 $resize-color, inset (-$resize-shadow-width) 0 0 0 $resize-color), webkit ms);
        }
        &.column-label {
          @extend .position-sticky;
          top: 0;
        }
        &#resize-temporary-column {
          background-color: transparent !important;
          @extend .border-0;
        }
        &.column-search {
          @extend .border-bottom-0;
          @include vendor-prefix(box-shadow, $border-top-bottom, webkit ms);
          @extend .position-sticky;
          top: 3em;
          input {
            @extend .w-100;
            @extend .form-control;
            &:placeholder-shown {
              @extend .font-awesome;
            }
          }
        }
      }
    }
    tbody {
      td {
        &.active {
          @include vendor-prefix(box-shadow, inset 0 0 0 $shadow-width $primary, webkit ms);
        }

        &.insertion {
          background-color: rgba($success, 0.1);
          &::after {
            @extend .font-awesome;
            @extend .text-success;
            @extend .float-right;
          }
          &:hover::after {
            content: "\f4ff";
          }
        }

        &.pasted {
          background-color: rgba($primary, 0.1);
          &::after {
            @extend .font-awesome;
            @extend .text-primary;
            @extend .float-right;
          }
          &:hover::after {
            content: "\f0ea";
          }
        }

        &.copied {
          background-color: rgba($info, 0.25);
          &::after {
            @extend .font-awesome;
            @extend .text-info;
            @extend .float-right;
          }
          &:hover::after {
            content: "\f0c5";
          }
        }
      }
    }
    tfoot {
      tr:nth-child(1) { // insertion table row
        @extend .thead-light;
        @extend .d-none;
        &.active {
          display: table-row !important;
        }
        th {
          @extend .position-sticky;
          @include vendor-prefix(box-shadow, $border-top, webkit ms);
          bottom: 49px;
          input {
            @extend .w-100;
            @extend .form-control;
          }
        }
      }

      tr:nth-child(2) { // status table row
        &.idle {
          th {
            @extend .d-none;
          }
        }
        &.cellcopy, &.columncopy, &.celleditor-help, &.insertion-success, &.insertion-verification {
          th {
            @extend .font-size-large;
            @extend .bg-white;
          }
        }
        &.cellcopy, &.columncopy, &.celleditor-help, &.insertion-verification {
          th {
            @extend .text-info;
          }
        }
        &.insertion-success {
          th {
            @extend .text-success;
          }
        }
        &.insertion-failure {
          th {
            @extend .font-size-large;
            @extend .text-white;
            @extend .bg-danger;
          }
        }
        &.insertion-verification {
          th {
            @extend .text-info;
            .spinner-grow {
              @extend .mr-2;
              @extend .align-middle;
            }
          }
        }
        &.rowcount {
          th {
            @extend .text-left;
          }
        }
        th {
          @extend .text-center;
          @extend .position-sticky;
          @include vendor-prefix(box-shadow, $border-top, webkit ms);
          height: 50px;
          bottom: 0;
        }

        button#confirm-newrow, button#discard-newrow {
          @extend .btn;
          @extend .position-absolute;
          top: 50%;
          transform: translateY(-50%);
        }

        button#confirm-newrow {
          @extend .btn-success;
          right: $table-cell-padding;
        }
        button#discard-newrow {
          @extend .btn-danger;
          left: $table-cell-padding;
        }

        #newrow-error {
          @extend .text-white;
          @extend .bg-danger;
          @extend .px-4;
          @extend .py-2;
          @extend .rounded;
        }
      }
    }
  }
}