$nav-icons: ("sheet": ("before": $fa-var-table, "after": $fa-var-caret-down), "credits": ("before": $fa-var-award), "user": ("before": $fa-var-user-circle, "after": $fa-var-caret-down));
$zindex-nav: $zindex-dropdown - 1;
$navbar-height: 60px;

nav {
  @extend .position-absolute;
  @extend .w-100;
  @extend .navbar;
  @extend .navbar-light;
  @extend .bg-primary;
  @extend .navbar-expand-sm;

  height: $navbar-height;
  z-index: $zindex-nav;

  .navbar-brand {
    @extend .text-white;
    @extend .font-weight-bold;
  }
  .navbar-toggler {
    @extend .btn;
    @extend .text-white;
    @extend .border-0;
    &:before {
      @extend %fa-icon;
      @extend .fas;
      content: fa-content($fa-var-bars);
    }
    &.active {
      @extend .bg-white;
      @extend .text-primary;
      &:before {
        content: fa-content($fa-var-hamburger);
      }
    }
  }
  .navbar-nav-sm {
    @extend .d-none;
    @extend .flex-column;
    @extend .list-unstyled;
    @extend .my-3;
    flex-basis: 100%;
    li {
      @extend .border-top;
      @extend .px-3;
      @extend .py-2;
      @extend .clickable;
      @extend .text-white;
      &#list-sheets {
        cursor: default;
      }
      &:last-of-type {
        @extend .border-bottom;
      }
      &:hover {
        @extend .bg-white;
        @extend .text-primary;
        #list-sheets-horizontal {
          button {
            @extend .btn-primary;
          }
        }
      }
      #list-sheets-horizontal {
        @extend .btn-group;
        @extend .mx-2;
        button {
          @extend .btn-outline-light;
          @extend .btn-sm;
          font-size: smaller;
        }
      }
    }
  }
  .navbar-nav {
    @extend .mx-4;
  }
  .nav-item {
    @extend .clickable;
    @extend .px-2;
    @extend .text-capitalize;
    a {
      @extend .text-decoration-none;
    }

    .anonymous-user {
      &:before {
        content: fa-content($fa-var-user-ninja) !important;
      }
    }

    &:hover {
      @each $name, $icons in $nav-icons {
        #navbar-#{$name} {
          @extend .text-white;
        }
      }
    }

    // navbar components
    @each $name, $icons in $nav-icons {
      #navbar-#{$name} {
        @extend .text-white-50;
      }

      @each $position, $icon in $icons {
        #navbar-#{$name}:#{$position} {
          @extend %fa-icon;
          @extend .fas;
          content: fa-content($icon);
        }
      }
    }
    #navbar-user::before {
      @extend .fa-lg;
    }
    #navbar-sheet + .dropdown-menu {
      .selected {
        @extend .disabled;
      }
    }
  }

  & ~ main {
    padding-top: $navbar-height;
  }
}

@include media-breakpoint-down(xs) {
  nav {
    height: auto;
    .navbar-toggler.active + .navbar-nav-sm {
       display: flex !important;
    }
  }
}
