<div>
    <label for="email">Unique Account Name</label>
    <input id="email" type="text" name="email"
        class="form-control{{getValidationClass messages.emailValidationFailure}}"
        aria-describedby="email-usage-explanation" placeholder="Enter account name" required>
    {{#if messages.emailValidationFailure}}
    {{#with messages.emailValidationFailure as |failure|}}
    {{#each failure}}
    <div class="invalid-tooltip">
        {{msg}}
    </div>
    {{/each}}
    {{/with}}
    {{/if}}
    <div class="invalid-feedback">
        Please provide a valid username
    </div>
    {{#if showEmailUsageExplanation}}
    <small id="email-usage-explanation" class="form-text">
        If you provide your email, it can be used to retrieve your account.
    </small>
    {{/if}}
</div>