<div>
    <label for="password">
        Password
        {{#if showForget}}
            <a href="/forget" title="forget password?">
                Forget password?
            </a>
        {{/if}}
    </label>
    <input
        id="password"
        name="password"
        class="form-control{{getValidationClass messages.passwordValidationFailure}}"
        type="password"
        placeholder="Enter password"
        required
        >
    {{#if messages.passwordValidationFailure}}
        {{#with messages.passwordValidationFailure as |failure|}}
            {{#each failure}}
                <div class="invalid-tooltip">
                    {{msg}}
                </div>
            {{/each}}
        {{/with}}
    {{/if}}
    <div class="invalid-feedback">
        Please provide a valid password
    </div>
    {{#if showPasswordUsageExplanation}}
        <small id="password-usage-explanation" class="form-text">
            Please make sure your password is at least four characters long and avoid reusing passwords to improve password security.
        </small>
    {{/if}}
</div>
