#comments {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 40vw;
  padding: 10px;
  margin: 10px;
  outline: 2px solid grey;
  font-family: sans-serif;
  display: flex;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  background-color: white;
  z-index: $zindex-popover;
}

#newComment {
  display: flex;
  flex-direction: row;
  padding: 4px;
  justify-content: space-between;
  background-color: white;
}

#newCommentTextbox {
  height: 48px;
  width: 100%;
  line-height: 32px;
  padding: 4px;
  font-size: 24px;
}

#comment-button {
  height: 48px;
  background-color: #1089ff;
  border: none;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 4px;
  cursor: pointer;
  padding: 12px;
  border-radius: 4px;
}

#commentsContainer {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-right: 20px;
}

#commentContainer {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

#info {
  /* height: 100%; */
  width: 20%;
  display: flex;
  flex-direction: column;
  color: grey;
  justify-content: center;
  font-size: 12px;
}

#author {
  font-weight: bold;
  font-size: 16px;
}

#content {
  font-size: 16px;
  width: 55%;
  align-content: center;
  justify-content: left;
}

#rating {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  font-size: 15px;
}

#wrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: 8px;
}
.numvote {
  align-content: center;
  justify-content: center;
  margin: 2px;
  font-size: 12px;
}

#comments-hr {
  border-top: 1px dashed grey;
  width: 100%;
}

.fa-thumbs-up,
.fa-thumbs-down {
  color: black;
  cursor: pointer;
}
.fa-thumbs-up:hover,
.fa-thumbs-down:hover {
  color: grey;
}
