.fp-select-options-wrapper {
  @extend .my-2;
  &.previous-edits {
    .fp-select-options-title {
      @extend .text-primary;
    }
  }
  .fp-select-options-title {
    @extend .d-block;
    @extend .w-100;
    @extend .text-center;
    @extend .text-secondary;
    @extend .font-weight-bold;
    @extend .font-size-small;
  }
  .fp-select-options {
    @extend .overflow-auto;
    @extend .px-0;
    max-height: 25vh;
    cursor: pointer;

    &.previous-edits {
      .fp-select-option {
        @extend .bg-primary;
      }
    }

    .fp-select-option {
      @extend .progress;
      @extend .bg-secondary;
      @extend .my-1;
      height: 20px !important;
      .fp-select-option-priority {
        @extend .progress-bar;
        @extend .bg-primary;
      }
      .fp-select-option-text {
        @extend .text-white;
        @extend .text-truncate;
        @extend .position-absolute;
        @extend .ml-2;
        width: 98%;
        top: 50%;
        transform: translateY(-50%);
        z-index: $zindex-dropdown;
      }
      &.active, &:hover {
        .fp-select-option-priority {
          @extend .progress-bar-striped;
        }
        .fp-select-option-text {
          @extend .font-weight-bold;
        }
      }
    }
  }
}
