$nav-icons: ("sheet": ("before": $fa-var-table, "after": $fa-var-caret-down), "credits": ("before": $fa-var-award), "user": ("before": $fa-var-user-circle, "after": $fa-var-caret-down));


nav {
  @extend .navbar;
  @extend .navbar-light;
  @extend .bg-primary;
  @extend .navbar-expand;
  .navbar-brand {
    @extend .text-white;
    @extend .font-weight-bold;
  }
  .navbar-nav {
    @extend .mx-4;
  }
  .nav-item {
    @extend .clickable;
    @extend .mx-2;
    @extend .text-capitalize;
    * {
    @extend .text-white-50;
    }
    *:hover {
      @extend .text-white;
    }
    .dropdown-menu {
      @extend .d-none;
      @extend .position-absolute;
      @extend .bg-secondary;
      top: 2rem;
      .dropdown-item:hover {
        @extend .active;
      }
    }
    a {
      @extend .text-decoration-none;
    }
    #navbar-sheet .dropdown-menu {
      left: 6.3rem;
      .dropdown-item.selected {
        @extend .active;
      }
    }
    #navbar-user .dropdown-menu {
      left: 6.3rem;
    }
    #navbar-user::before {
      @extend .fa-lg;
    }
    @each $name, $icons in $nav-icons {
      @each $position, $icon in $icons {
        #navbar-#{$name}:#{$position} {
          @extend %fa-icon;
          @extend .fas;
          content: fa-content($icon);
        }
      }
    }
  }
  .nav-item:hover .dropdown-menu {
    @extend .d-inline-block;
  }
}
