$nav-icons: ("sheet": ("before": $fa-var-table, "after": $fa-var-caret-down), "credits": ("before": $fa-var-award));


nav {
  @extend .navbar;
  @extend .navbar-light;
  @extend .bg-primary;
  @extend .navbar-expand-lg;
  .navbar-brand {
    @extend .text-white;
    @extend .font-weight-bold;
  }
  .navbar-nav {
    @extend .mx-4;
  }
  .nav-item {
    @extend .clickable;
    @extend .mx-2;
    @extend .text-capitalize;
    * {
    @extend .text-white-50;
    }
    *:hover {
      @extend .text-white;
    }
  }
  a {
    @extend .text-decoration-none;
  }
  @each $name, $icons in $nav-icons {
    @each $position, $icon in $icons {
      #navbar-#{$name}:#{$position} {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($icon);
      }
    }
  }
  #navbar-sheet .dropdown-menu {
    @extend .d-none;
    @extend .position-absolute;
    @extend .bg-secondary;
    left: 6.3rem;
    top: 2rem;
    .dropdown-item.selected {
      @extend .active;
    }
    .dropdown-item:hover {
      @extend .active;
    }
  }
  #navbar-sheet:hover .dropdown-menu {
    @extend .d-inline-block;
  }
}
