<div id="column-label-contextmenu" class="contextmenu">
    <button type="button">
        <i class="far fa-copy"></i>
        <span>Copy</span>
    </button>
    <button type="button">
        <i class="fas fa-copy"></i>
        <span>Copy column</span>
    </button>
    <button type="button">
        <i class="fas fa-chart-pie"></i>
        <span>Distribution</span>
    </button>
</div>
