<div id="column-label-contextmenu" class="contextmenu">
    <button data-id="copy" type="button">
        <i class="far fa-copy"></i>
        <span>Copy</span>
    </button>
    <button data-id="copy-column" type="button">
        <i class="fas fa-copy"></i>
        <span>Copy Column</span>
    </button>
    <button data-id="insert-row" type="button">
        <i class="far fa-plus-square"></i>
        <span>Insert Row</span>
    </button>
    <button data-id="count" type="button">
        <i class="fas fa-list-ol"></i>
        <span>Count</span>
    </button>
    <button data-id="distribution" type="button">
        <i class="fas fa-chart-pie"></i>
        <span>Distribution</span>
    </button>
</div>
