<div id="table-data-contextmenu" class="contextmenu">
    <button data-id="edit" type="button">
        <i class="far fa-edit"></i>
        <span>Edit</span>
    </button>
    <button data-id="copy" type="button">
        <i class="far fa-copy"></i>
        <span>Copy</span>
    </button>
    <button data-id="paste" type="button">
        <i class="far fa-clipboard"></i>
        <span>Paste</span>
    </button>
    <button data-id="insert-row" type="button">
        <i class="far fa-plus-square"></i>
        <span>Insert Row</span>
    </button>
    <button data-id="search-google" type="button">
        <i class="fa fa-search"></i>
        <span>Search Google</span>
    </button>
</div>
