<div id="table-data-contextmenu" class="contextmenu">
    <button type="button">
        <i class="far fa-copy"></i>
        <span>Copy</span>
    </button>
    <button type="button">
        <i class="far fa-clipboard"></i>
        <span>Paste</span>
    </button>
    <button type="button">
        <i class="far fa-plus-square"></i>
        <span>Insert row</span>
    </button>
</div>
