.clickable {
  cursor: pointer;
}

.font-size-small {
  font-size: small;
}

.font-size-large {
  font-size: large;
}

.unselectable {
    @include vendor-prefix(user-select, none, ms moz khtml webkit webkit-touch);
}
