<table>
    <thead>
        <tr>
            <th>id Profile</th>
            <th>id Session</th>
            <th>id Row</th>
            <th>Edit Type</th>
            <th>Full Name</th>
            <th>University</th>
            <th>Column</th>
            <th>New Value</th>
            <th>Previous Value</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
<tr>
	<td>197</td>
	<td>316</td>
	<td>5080</td>
	<td>edit cell</td>
	<td>Boss Man</td>
	<td>Augusta University</td>
	<td>Doctorate</td>
	<td>Cornell University</td>
	<td></td>
	<td>2020-12-01 11:03:10</td>
</tr>
<tr>
	<td>197</td>
	<td>316</td>
	<td>5080</td>
	<td>edit cell</td>
	<td>Boss Man</td>
	<td>Augusta University</td>
	<td>Bachelors</td>
	<td>Ben-Gurion University of the Negev - Israel</td>
	<td></td>
	<td>2020-12-01 11:03:07</td>
</tr>
<tr>
	<td>197</td>
	<td>316</td>
	<td>5080</td>
	<td>edit cell</td>
	<td>Boss Man</td>
	<td>Augusta University</td>
	<td>SubField</td>
	<td>The Web & information retrieval</td>
	<td></td>
	<td>2020-12-01 11:03:04</td>
</tr>
<tr>
	<td>197</td>
	<td>316</td>
	<td>5080</td>
	<td>edit cell</td>
	<td>Boss Man</td>
	<td>Augusta University</td>
	<td>JoinYear</td>
	<td>2020</td>
	<td></td>
	<td>2020-12-01 11:02:51</td>
</tr>
<tr>
	<td>197</td>
	<td>316</td>
	<td>5080</td>
	<td>edit cell</td>
	<td>Boss Man</td>
	<td>Augusta University</td>
	<td>University</td>
	<td>Augusta University</td>
	<td></td>
	<td>2020-12-01 11:02:46</td>
</tr>
<tr>
	<td>197</td>
	<td>316</td>
	<td>5080</td>
	<td>edit cell</td>
	<td>Boss Man</td>
	<td>Augusta University</td>
	<td>FullName</td>
	<td>Boss Man</td>
	<td></td>
	<td>2020-12-01 11:02:43</td>
</tr>
<tr>
	<td>197</td>
	<td>312</td>
	<td>7</td>
	<td>edit cell</td>
	<td>For Example</td>
	<td>Arizona State University</td>
	<td>FullName</td>
	<td>For Example</td>
	<td>Baoxin Lina</td>
	<td>2020-11-26 18:00:13</td>
</tr>
<tr>
	<td>197</td>
	<td>311</td>
	<td>5080</td>
	<td>new row</td>
	<td>Boss Man</td>
	<td>Augusta University</td>
	<td>FullName</td>
	<td></td>
	<td></td>
	<td>2020-11-25 12:23:42</td>
</tr>
<tr>
	<td>197</td>
	<td>311</td>
	<td>5080</td>
	<td>new row</td>
	<td>Boss Man</td>
	<td>Augusta University</td>
	<td>University</td>
	<td></td>
	<td></td>
	<td>2020-11-25 12:23:42</td>
</tr>
<tr>
	<td>197</td>
	<td>311</td>
	<td>5080</td>
	<td>new row</td>
	<td>Boss Man</td>
	<td>Augusta University</td>
	<td>JoinYear</td>
	<td></td>
	<td></td>
	<td>2020-11-25 12:23:42</td>
</tr>
<tr>
	<td>197</td>
	<td>311</td>
	<td>5080</td>
	<td>new row</td>
	<td>Boss Man</td>
	<td>Augusta University</td>
	<td>SubField</td>
	<td></td>
	<td></td>
	<td>2020-11-25 12:23:42</td>
</tr>
<tr>
	<td>197</td>
	<td>311</td>
	<td>5080</td>
	<td>new row</td>
	<td>Boss Man</td>
	<td>Augusta University</td>
	<td>Bachelors</td>
	<td></td>
	<td></td>
	<td>2020-11-25 12:23:42</td>
</tr>
<tr>
	<td>197</td>
	<td>311</td>
	<td>5080</td>
	<td>new row</td>
	<td>Boss Man</td>
	<td>Augusta University</td>
	<td>Doctorate</td>
	<td></td>
	<td></td>
	<td>2020-11-25 12:23:42</td>
</tr>
<tr>
	<td>52</td>
	<td>133</td>
	<td>4</td>
	<td>edit cell</td>
	<td>Ashraf Gaffar</td>
	<td>Made this up</td>
	<td>University</td>
	<td>Made this up</td>
	<td>Arizona State University</td>
	<td>2020-09-18 11:44:50</td>
</tr>
<tr>
	<td>52</td>
	<td>133</td>
	<td>2</td>
	<td>edit cell</td>
	<td>Andréa W. Richa</td>
	<td>Arizona State University</td>
	<td>JoinYear</td>
	<td>1987</td>
	<td>1998</td>
	<td>2020-09-18 11:32:21</td>
</tr>
</tbody>
</table>
