<main id="table-container">
    {{sheetPath}}
    <div>
        <span id="text-width-measure"></span>
        {{> (lookup . 'editHistoryPath') }}
        <div id="resize-visual-cue"></div>
    </div>
</main>
<script src="/js/bundles/edit_history.js"></script>