<main id="helppage-container" class="centered-section-layout">
    <div>
        <h1>Help</h1>
        <section>
            <p>
                To <b>edit data <i class="far fa-edit"></i></b>, double-click a cell.
            </p>
            <p>
                To <b>add a new row <i class="far fa-edit"></i></b> click the top menu item or right-click on a cell and select <b>Add Row.</b>
            </p>
            <p>
                To <b>delete a new row <i class="far fa-edit"></i></b> first select a cell and then click the top menu item or right-click on a cell
                and select <b>Delete Row.</b>
            </p>
            <p>To search google right-click on a cell and select <b>Search Google.</b></p>
            <hr>
            
            <h2>Contact Us</h2>
            <p>
                If you have questions, please email Shaun Wallace at <b>shaun_wallace@brown.edu</b>.
            </p>
            <p>
                Or, you can post issues, feature requests, and questions in <a href="https://github.com/brownhci/drafty/issues" target="_blank">Drafty's GitHub repository.</a>
            </p>
            <!--
            <form action="/contact" method="post" id="contact-form" class="custom-validation" autocomplete novalidate>
                {{> csrf }}
                {{> account/email-input-component }}
                <div>
                    <label for="subject">Subject</label>
                    <input
                        id="subject"
                        type="text"
                        name="subject"
                        class="form-control{{getValidationClass messages.subjectValidationFailure}}"
                        aria-describedby="contact-note"
                        required
                        >
                        {{#if messages.subjectValidationFailure}}
                            {{#with messages.subjectValidationFailure as |failure|}}
                                {{#each failure}}
                                    <div class="invalid-tooltip">
                                        {{msg}}
                                    </div>
                            {{/each}}
                        {{/with}}
                    {{/if}}
                    <div class="invalid-feedback">
                        Please provide a subject
                    </div>
                </div>
                <div>
                    <label for="message">How can we help you?</label>
                    <textarea id="message" name="message" rows="7" class="form-cotrol"></textarea>
                </div>
                <small id="contact-note" class="form-text">
                    Thank you for writing us an email, your comment and feedback helps us to improve Drafty platform!
                </small>

                <button type="submit">Send Email</button>
            </form>
            -->
        </section>
    </div>
</main>
<script src="/js/bundles/form.js"></script>
