<main id="helppage-container" class="centered-section-layout">
    <div>
        <h1>Help</h1>
        <section>
            <p>
                To <b>edit data <i class="far fa-edit"></i></b>, double-click a cell.
            </p>
            <p>
                To <b>add a new row <i class="far fa-edit"></i></b> click the top menu item or right-click on a cell and select <b>Add Row.</b>
            </p>
            <p>
                To <b>delete a new row <i class="far fa-edit"></i></b> first select a cell and then click the top menu item or right-click on a cell
                and select <b>Delete Row.</b>
            </p>
            <p>To search google right-click on a cell and select <b>Search Google.</b></p>
            <hr>
            
            <h2>Contact Us</h2>
            <p>
                If you have questions, please email Shaun Wallace at <b>shaun.wallace@uri.edu</b>.
            </p>
            <p>
                Or, you can post issues, feature requests, and questions in <a href="https://github.com/brownhci/drafty/issues" target="_blank">Drafty's GitHub repository.</a>
            </p>
        </section>
    </div>
</main>
<script src="/js/bundles/form.js"></script>
