<main id="homepage-container">
    <section id="thumbnail-section">
        <img id="thumbnail-image" src="/images/thumbnail/thumbnail.png" alt="thumbnail of spreadsheet page">
    </section>
    <section id="description-section">
        <div id="description-wrapper">
            <div id="introduction">
                <h1 id="project-name">Drafty</h1>
                <h2 id="project-short-summary">A Smarter Wiki For Data</h2>
                <p id="project-description">
                    Drafty strives to keep data up-to-date by recruiting people to review it from the crowd of people already using it. This continual review allows the maintenance of data to be self-sustaining over time. Potential reviewers can freely edit specific data, add new rows, delete rows, comment on rows, and generate sentence-based insights from the data called "Did you know."
                </p>
            </div>
            {{#if errors}}
                <hr>
                <h5>Whoops...there is an issue. :(</h5>
                <p>Our elves are hard at work on it!</p>
                <hr>
            {{/if}}
            <div id="sheets">
                <h4>Datasets and Products</h4>
                <ul>
                    <!-- Drafty CS Profs -->
                    <li class="spreadsheet">
                        {{#if errors}}
                            <i>Temporarily Unavailable Dataset:</i><br>
                        {{/if}}
                        <a class="spreadsheet-link" href="/csprofessors">
                            Computer Science Professors
                        </a>
                    </li>
                    <div class="spreadsheet-related-content">
                        <p>Used for an <a href="https://jeffhuang.com/computer_science_professors.html" target="_blank">analysis of computer science hiring trends <i class="fa fa-external-link-alt" aria-hidden="true"></i></a></p>
                    </div>
                    <!-- CS Open Rankings -->
                    <li class="spreadsheet">
                        <a class="spreadsheet-link" href="/csopenrankings">
                            CS Open Rankings
                        </a>
                    </li>
                    <div class="spreadsheet-related-content">
                        <p>A new approach to computer science rankings. A meta ranker using real-time data from CS Professors as one of its sources.</p>
                    </div>
                </ul>
            </div>
            <div id="articles">
                <ul>
                    {{#each publications}}
                        <li class="publication">
                            <a class="publication-link" href="{{link}}">{{name}}</a>
                            <p>{{description}}
                            {{#if source}}
                            	<a href="https://github.com/brownhci/drafty" target="_blank">[source code] <i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
                            {{/if}}
                            </p>
                        </li>
                    {{/each}}
                </ul>
            </div>
            <p id="developers" class="footer">
                  Developed by Shaun Wallace and others
                  <br>
                  <a href="https://hci.brown.edu" target="_blank">Brown University HCI Group <i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
                  <br>
                  <a href="https://docs.google.com/forms/d/e/1FAIpQLSeTCgnwF1gjrc1O8mfJ_5TmT_TLowFQ2DUhsollmqPG84pAFQ/viewform?usp=pp_url&entry.1299571007=Drafty:+smart+wiki+for+data+(including+our+CS+professor+and+CS+Open+Rankings+pages)&entry.1760653896=drafty+homepage" target="_blank">Subscribe to research, data, and product updates <i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
            </p>
        </div>
    </section>
</main>
