<main id="table-container">
    <div>
        <span id="text-width-measure"></span>
        {{> welcome-screen }}
        {{> table-cell-input-form }}
        {{> table-column-sort-panel }}
        {{> (lookup . 'sheetPath') }}
        <div id="resize-visual-cue"></div>
    </div>
</main>
<script src="/js/bundles/sheet.js"></script>