<main id="table-container">
    <div>
        <form id="table-cell-input-form" class="custom-validation" autocomplete novalidate>
            {{> csrf }}
            <div>
                <input
                    id="entry"
                    name="entry"
                    type="text"
                    class="form-control"
                    required
                    >
            </div>
        </form>
        {{> (lookup . 'sheetPath') }}
    </div>
</main>
<script src="/js/sheet.js"></script>
<script src="/js/clusterize/clusterize.min.js"></script>
<script src="/js/clusterize/table.js" type="text/javascript"></script>