<main id="table-container">
    <div>
        <table id="sheet">
            {{> (lookup . 'sheetPath') }}
        </table>
    </div>
</main>
<script src="/js/sheet.js"></script>
<script src="/js/clusterize/clusterize.min.js"></script>
<script src="/js/clusterize/table.js" type="text/javascript"></script>