<main id="table-container">
    <div>
        <span id="text-width-measure"></span>
        {{> welcome-screen }}
        {{> table-cell-input-form }}
        {{> table-column-sort-panel }}
        {{> (lookup . 'sheetPath') }}
    </div>
</main>
{{!--  <script src="/js/sheet.js" type="module"></script>  --}}
<script src="/js/bundles/sheet.js"></script>