<main id="table-container">
    <div>
        <span id="text-width-measure"></span>
        {{> contextmenu/table-data }}
        {{> contextmenu/column-label }}
        {{> welcome-screen }}
        {{> databait }}
        {{> comments }}
        {{> column-suggestions }}
        {{> cell-editor-new-row }}
        {{> table-cell-input-form }}
        {{> table-column-sort-panel }}
        <!-- {{> dce_survey }} -->
        {{> (lookup . 'sheetPath') }}
        <div id="resize-visual-cue"></div>
    </div>
</main>
{{> delrow}}
<script src="/js/bundles/sheet.js"></script>