// Global variable overrides. Must be declared before importing Valo.
//cube blue- #0095da
$cube-blue: #197dea;

$v-app-loading-text: "Loading Drafty";

$v-background-color: hsl(0, 0, 99.5%);
$v-app-background-color: #f1f1f1;
$v-focus-color: hsl(218, 80%, 60%);
$v-border: 1px solid (v-shade 0.6);
$v-border-radius: 3px;
$v-bevel: inset 0 1px 0 v-tint;
$v-textfield-bevel: false;
$v-gradient: v-linear 3%;
$v-shadow: false;
$valo-menu-background-color: hsl(218, 20%, 98%);
$v-friendly-color: hsl(163, 61%, 41%);
$v-error-indicator-color: hsl(349, 66%, 56%);


@import "../valo/valo";

@mixin ICERMvalo {
  @include valo;
  
  background: $v-app-background-color;
  color: $v-selection-color;
  text-shadow: none;
  border-color: first-color(valo-border($color: $v-app-background-color, $strength: 0.5));
  
  // header / menu
  // menubar
  .v-menubar {
    border-width: 0 !important;
    color: #474747 !important;
    font-size: 14px !important;
    font-weight: 300 !important;
    height: 38px !important;
    line-height: 37px !important;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    text-overflow: ellipsis !important;
    width: 100% !important;
  	z-index: 9001;
  }
  
  .v-slot-divider-header {
  	background: #f1f1f1 none repeat scroll 0 0 !important;
    border-top-width: 1px !important;
    height: 23px !important;
  }
  
  .v-menubar-menuitem-draftylogo {
  	background: rgb(25, 125, 234) none repeat scroll 0 0 !important;
    color: white !important;
   }
  
  .draftylogo  .v-menubar-menuitem {
  	background: rgb(25, 125, 234) none repeat scroll 0 0 !important;
    color: white !important;
   }
   
   .v-menubar-menuitem .draftylogo {
  	background: rgb(25, 125, 234) none repeat scroll 0 0 !important;
    color: white !important;
   }
  
  .v-menubar-menuitem-badgesUsermenu {
    position: absolute !important;
    right: 265px;
    top: 0;
    border: 0px !important;
    border-left: 1px solid #f1f1f1 !important;
  }
  
  .v-menubar-menuitem-suggestionUsermenu {
    position: absolute !important;
    right: 5px;
    top: 0;
    float: right;
    border: 0px !important;
  }
  
  // headings, text elements, spacers
  hr {
  	color: #d5d5d5;
  	background-color: #d5d5d5;
  	border: 0;
  	height: 1px;
  }
  hr.divider {
  	margin-top: 26px;
  	margin-bottom: -10px;
  }
  hr.spacer {
    margin-top: 24px;
  	margin-bottom: 16px;
  }
  
  h1, h2, h3 {
  	color: #666666 !important;
  }
  
  h4 {
  	margin-top: 0px;
  	margin-bottom: 0px;
  	font-size: 17px;
  	color: #6E6E6E;
  }
  .hr-heading {
  	text-align: center;
  	border-bottom: 1px solid #d5d5d5;
  	margin-bottom: 20px;
  	
  	h4 {
  		display: inline-block;
  		top: 12px;
  		position: relative;
  		padding: 0px 12px;
  		background: none repeat scroll 0px 0px rgb(255, 255, 255);
  		font-weight: 700;
  	}
  }
  badge_icon {
  	font-size: 32px;
  	color: #0095da;
  }
   .v-caption {
  	color: #6E6E6E;
  	font-size: 12px;
  }
  .v-captiontext {
  	white-space: normal;
  }
  .v-label-undef-w {
    white-space: normal;
  }
  .home-button-wrap {
  	h3 {
  		font-weight: 500;
  		font-size: 27px;
  		margin-bottom: 4px !important;
  	}
  	font-weight: 400;
  	font-size: 17px;
  }
  
  // lists (faq page)
  
  .list-group {
  	margin-bottom: 20px;
  	padding-left: 0;
  	list-style: none;
  	
  	.list-group-item {
  	 	position: relative;
  		display: block;
  		padding: 10px 15px;
  		margin-bottom: -1px;
  		border: 1px solid #e4e4e4;
  		padding-bottom: 10px;
  		padding-top: 10px;
  		font-size: 13px;
  	}
  	.list-group-item:first-child {
  		border-top-right-radius: 2px;
 		border-top-left-radius: 2px;
	}
  	
  }
  
  //spacing for radio buttons
	.v-radiobutton {
		padding-bottom: 10px;
	}
	.v-filterselect {
		margin-top: -55px
	}
	.margin-top-negative {
		margin-top: -55px
	}
 
 	// form components
  .v-button {
	//color: #e8f3f8;
	color: #FFFFFF;
	border: 1px solid #006b9c;
	border-top-color: #00719e;
	border-bottom-color: #006094;
	background-color: #0095DA;
	background-image: linear-gradient(to bottom,#009ddc 2%, #0086ce 98%);
	background-image: -webkit-linear-gradient(top, #009ddc 2%, #0086ce 98%);
	background-image: -moz-linear-gradient(top, #009ddc 2%, #0086ce 98%);
	-webkit-box-shadow: inset 0 1px 2px #28b2f9, inset 0 0 1px #179fdf, 0 0 0 0px black;
	box-shadow: inset 0 1px 2px #28b2f9, inset 0 0 1px #179fdf, 0 0 0 0px black;
  }
  .button-green {
    border-color: #4cb64c;
  	border-bottom-color: #42a142;
  	background: #5ebd5e;
  	background-image: -webkit-linear-gradient(top,#62be62 0,#4cb64c 100%);
  	background-image: -moz-linear-gradient(top,#62be62 0,#4cb64c 100%);
  	background-image: linear-gradient(to bottom,#62be62 0,#4cb64c 100%);
  	color: #FFFFFF;
  	-webkit-box-shadow: none !important;
  	-moz-box-shadow: none !important;
  	box-shadow: none !important;
  }
  .button-gray {
    border-color: #b6b6b6;
  	border-bottom-color: #a1a1a1;
  	background: #bdbdbd;
  	background-image: -webkit-linear-gradient(top,#bebebe 0,#b6b6b6 100%);
  	background-image: -moz-linear-gradient(top,#bebebe 0,#b6b6b6 100%);
  	background-image: linear-gradient(to bottom,#bebebe 0,#b6b6b6 100%);
  	color: #FFFFFF;
  	-webkit-box-shadow: none !important;
  	-moz-box-shadow: none !important;
  	box-shadow: none !important;
  }
  select {
  	background-color: inherit !important;
  	background-image: inherit !important;
  	height: 38px;
  }
  
  .v-inline-datefield-calendarpanel {
  	background-color: #FFF;
  }
  
  .v-checkbox {
  	white-space: normal !important;
  }
  
  
  // panel & wrappers
  .main-wrap.v-margin-top {
  	padding-top: 19px !important;
  }
  .main-heading {
  	//background-color: #f6f6f6;
  	//border-bottom: 1px solid #e9e9e9;
  }
  
  .panel-bottom-spacing {
  	margin-bottom: 30px;
  }
  .panel-bottom-links {
  	text-align: center;
  	.v-link {
  		padding: 3px 6px;
  	}
  }
  
  // margin classes
  
  .margin-top-none {
  	margin-top: 0px !important;
  }
  .margin-top-half {
  	margin-top: 19px !important;
  }
  .margin-top-full {
  	margin-top: 38px !important;
  }
  
  .margin-right-none {
  	margin-right: 0px !important;
  }
  .margin-right-half {
  	margin-right: 19px !important;
  }
  .margin-right-full {
  	margin-right: 38px !important;
  }
  
  .margin-bottom-none {
  	margin-bottom: 0px !important;
  }
  .margin-bottom-half {
  	margin-bottom: 19px !important;
  }
  .margin-bottom-full {
  	margin-bottom: 38px !important;
  }
  
  .margin-left-none {
  	margin-left: 0px !important;
  }
  .margin-left-half {
  	margin-left: 19px !important;
  }
  .margin-left-full {
  	margin-left: 38px !important;
  }    
  .text-field-margin-full {
    margin-left: 25px  !important;
    margin-right: 25px !important;
  } 
  .text-field-margin-left {
    margin-left: 25px  !important;
  } 
  .text-field-margin-right {
    margin-right: 25px !important;
  }  
 
  // padding classes
  
  .padding-top-none {
  	padding-top: 0px !important;
  }
  .padding-top-half {
  	padding-top: 19px !important;
  }
  .padding-top-full {
  	padding-top: 38px !important;
  }
  
  .padding-right-none {
  	padding-right: 0px !important;
  }
  .padding-right-half {
  	padding-right: 19px !important;
  }
  .padding-right-full {
  	padding-right: 38px !important;
  }
  
  .padding-bottom-none {
  	padding-bottom: 0px !important;
  }
  .padding-bottom-half {
  	padding-bottom: 19px !important;
  }
  .padding-bottom-full {
  	padding-bottom: 38px !important;
  }
  
  .padding-left-none {
  	padding-left: 0px !important;
  }
  .padding-left-half {
  	padding-left: 19px !important;
  }
  .padding-left-full {
  	padding-left: 38px !important;
  }    
     
  .option-group-padding-full {
    padding-left: 25px  !important;
    padding-right: 25px !important;
  } 
  .option-group-padding-left {
    padding-left: 25px  !important;
  } 
  .option-group-padding-right {
    padding-right: 25px !important;
  }  
 
 
  
  // alerts
  
  .alert {
    padding: 15px;
  	border: 1px solid transparent;
  	border-radius: 2px;
  	
	background: #dff0d8;
	border-color: #d0e6be;
  	color: #468847;
  	background-size: 20px 20px;
  } 
 
  .alert-top-spacing {
  	margin-top: 16px;
  }
  .alert-bottom-spacing {
  	margin-bottom: 16px;
  }
  .alert-info {
  	background: #d9edf7;
  	border-color: #bce8f1;
  	color: #3a87ad;
  }
  .alert-warning {
   	background: #f9f1c7;
  	border-color: #f6deac;
  	color: #af8640;
  }
  
  
  // Responsive
  
  .cube-container[width-range~="0-480px"] {
  	.cube-adminmenu {
  		width: 100% !important;
  	}
  	.cube-adminmenu-visible {
  		.cube-content {
  			padding-left: 0;
  		}
  	}
  }
  
  .cubemenu[width-range~="0-768px"] {
	  .usermenu-name {
	  	display:none;
	  }
  }
  .cubemenu[width-range~="769px-"] {
  
  }
  .cubemenu[width-range~="0-600px"] {
  	.v-menubar-menuitem-cubedesktop {
  		display: none !important;
  		visibility: hidden;
  	}
  }
  .cubemenu[width-range~="600px-"] {
  	.v-menubar-menuitem-cubemobile {
  		display: none !important;
  		visibility: hidden;
  	}
  }
  .panelWrap[width-range~="0-768px"] {
  	.panel-responsive {
  		width: 100% !important;
  	}
  	.panel-full-responsive {
  		width: 100% !important;
  	}

  }
  .panelWrap[width-range~="769px-"] {
	  .panel-responsive {
		width: 450px !important;
		margin-left: auto;
	  	margin-right: auto;
	  	display: block;
	  }
	  .panel-full-responsive {
  		width: 100% !important;
 	 }

 	 .v-panel-content > .v-margin-top {
  		padding-top: 24px;
  	}
  	.v-panel-content > .v-margin-right {
  		padding-right: 24px;
  	}
  	.v-panel-content > .v-margin-bottom {
  		padding-bottom: 24px;
  	}
  	.v-panel-content > .v-margin-left {
  		padding-left: 24px;
  	}
  }
  .main-wrap[width-range~="0-768px"] {
    .panel-padding {
  		padding: 20px;
  	}
  	.main-heading {
  		padding: 5px 22px;
  	}
  	hr.spacer {
  		margin-top: 16px;
  		margin-bottom: 8px;
  	}
  }
 .main-wrap[width-range~="769px-"] {
  	 .panel-padding {
 	 	padding: 30px;
 	 }
 	 .main-heading {
 	 	padding: 6px 32px;
 	 }
 }
  
  .main-wrap[width-range~="0-480px"] {
  	
  	font-size: 12px !important;
  	small {
  		font-size: inherit !important;
  	}
  }
  
  .v-select-optiongroup-horizontal {
  	white-space: normal;
  }
  
  .horizontal-wrap[width-range~="0-768px"] {
  	white-space: normal !important;
  	
  		.v-expand {
  			padding-left: 0 !important;
  			.v-slot {
  				width: 100% !important;
  				margin-left: 0 !important;
  				display: block !important;
  			}
  			.v-spacing {
  			  	display: block;
  				margin-bottom: 13px;
  			}
  		}
  }
  
  .tokenfield {
  	.v-csslayout {
  		.v-button {
  			text-decoration: none;
  			margin-right: 4px;
    		margin-top: 4px;
    		font-size: 0.9em;
    		height: 2.3em;
  		}
  	}
  }
}
