
# Created by https://www.toptal.com/developers/gitignore/api/code
# Edit at https://www.toptal.com/developers/gitignore?templates=code

### Code ###
.vscode/*

# End of https://www.toptal.com/developers/gitignore/api/code
