<thead>
    <tr>
        <th>
            FullName
        </th>
        <th>
            University
        </th>
        <th>
            JoinYear
        </th>
        <th>
            Rank
        </th>
        <th>
            SubField
        </th>
        <th>
            Bachelors
        </th>
        <th>
            Masters
        </th>
        <th>
            Doctorate
        </th>
        <th>
            PostDoc
        </th>
        <th>
            Gender
        </th>
        <th>
            PhotoURL
        </th>
        <th>
            Sources
        </th>
        <th>
            Last_Updated_By
        </th>
        <th>
            Last_Updated
        </th>
    </tr>
  <tr>
   <th>
    <input type="text"/>
   </th>
   <th>
    <input type="text"/>
   </th>
   <th>
    <input type="text"/>
   </th>
   <th>
    <input type="text"/>
   </th>
   <th>
    <input type="text"/>
   </th>
   <th>
    <input type="text"/>
   </th>
   <th>
    <input type="text"/>
   </th>
   <th>
    <input type="text"/>
   </th>
   <th>
    <input type="text"/>
   </th>
   <th>
    <input type="text"/>
   </th>
   <th>
    <input type="text"/>
   </th>
   <th>
    <input type="text"/>
   </th>
   <th>
    <input type="text"/>
   </th>
   <th>
    <input type="text"/>
   </th>
  </tr>
</thead>

<tbody>
  <tr>
   <td>
    Chitta Baral
   </td>
   <td>
    Arizona State University
   </td>
   <td>
    1999
   </td>
   <td>
    Associate
   </td>
   <td>
    Natural Language &amp; Speech
   </td>
   <td>
    Indian Institute of Technology - Kanpur - India
   </td>
   <td>
    University of Maryland - College Park - USA
   </td>
   <td>
    University of Maryland - College Park - USA
   </td>
   <td>
   </td>
   <td>
    Male
   </td>
   <td>
    http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg
   </td>
   <td>
    http://cidse.engineering.asu.edu/directory/chitta-baral/
   </td>
   <td>
   </td>
   <td>
    2018-11-30
   </td>
  </tr>
  <tr>
   <td>
    Kasim Candan
   </td>
   <td>
    Arizona State University
   </td>
   <td>
    1997
   </td>
   <td>
    Full
   </td>
   <td>
    Databases
   </td>
   <td>
    Bilkent University - Turkey
   </td>
   <td>
   </td>
   <td>
    University of Maryland - College Park - USA
   </td>
   <td>
   </td>
   <td>
    Male
   </td>
   <td>
    http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg
   </td>
   <td>
    http://cidse.engineering.asu.edu/directory/candan-k-selcuk/
   </td>
   <td>
    4587
   </td>
   <td>
    2016-10-21
   </td>
  </tr>
</tbody>
