<table id="table">
  <colgroup>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
  </colgroup>
  <thead>
      <tr>
          <th class="column-label" scope="col" tabindex="-1">FullName</th>
          <th class="column-label" scope="col" tabindex="-1">University</th>
          <th class="column-label" scope="col" tabindex="-1">JoinYear</th>
          <th class="column-label" scope="col" tabindex="-1">Rank</th>
          <th class="column-label" scope="col" tabindex="-1">SubField</th>
          <th class="column-label" scope="col" tabindex="-1">Bachelors</th>
          <th class="column-label" scope="col" tabindex="-1">Masters</th>
          <th class="column-label" scope="col" tabindex="-1">Doctorate</th>
          <th class="column-label" scope="col" tabindex="-1">PostDoc</th>
          <th class="column-label" scope="col" tabindex="-1">Gender</th>
          <th class="column-label" scope="col" tabindex="-1">PhotoURL</th>
          <th class="column-label" scope="col" tabindex="-1">Sources</th>
          <th class="column-label" scope="col" tabindex="-1">Last_Updated_By</th>
          <th class="column-label" scope="col" tabindex="-1">Last_Updated</th>
      </tr>
      <tr id="column-search-row">
          {{#times 14}}
              {{> sheets/column-search }}
          {{/times}}
      </tr>
  </thead>

  <tbody>
    <tr>
    <td tabindex="-1">Chitta Baral</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1999</td>
    <td tabindex="-1">Associate</td>
    <td tabindex="-1">Natural Language &amp; Speech</td>
    <td tabindex="-1">Indian Institute of Technology - Kanpur - India</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/chitta-baral/</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">2018-11-30</td>
    </tr>
    <tr>
    <td tabindex="-1">Kasim Candan</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1997</td>
    <td tabindex="-1">Full</td>
    <td tabindex="-1">Databases</td>
    <td tabindex="-1">Bilkent University - Turkey</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/candan-k-selcuk/</td>
    <td tabindex="-1">4587</td>
    <td tabindex="-1">2016-10-21</td>
    </tr>
    <tr>
    <td tabindex="-1">Chitta Baral</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1999</td>
    <td tabindex="-1">Associate</td>
    <td tabindex="-1">Natural Language &amp; Speech</td>
    <td tabindex="-1">Indian Institute of Technology - Kanpur - India</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/chitta-baral/</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">2018-11-30</td>
    </tr>
    <tr>
    <td tabindex="-1">Kasim Candan</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1997</td>
    <td tabindex="-1">Full</td>
    <td tabindex="-1">Databases</td>
    <td tabindex="-1">Bilkent University - Turkey</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/candan-k-selcuk/</td>
    <td tabindex="-1">4587</td>
    <td tabindex="-1">2016-10-21</td>
    </tr>
    <tr>
    <td tabindex="-1">Chitta Baral</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1999</td>
    <td tabindex="-1">Associate</td>
    <td tabindex="-1">Natural Language &amp; Speech</td>
    <td tabindex="-1">Indian Institute of Technology - Kanpur - India</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/chitta-baral/</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">2018-11-30</td>
    </tr>
    <tr>
    <td tabindex="-1">Kasim Candan</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1997</td>
    <td tabindex="-1">Full</td>
    <td tabindex="-1">Databases</td>
    <td tabindex="-1">Bilkent University - Turkey</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/candan-k-selcuk/</td>
    <td tabindex="-1">4587</td>
    <td tabindex="-1">2016-10-21</td>
    </tr>
    <tr>
    <td tabindex="-1">Chitta Baral</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1999</td>
    <td tabindex="-1">Associate</td>
    <td tabindex="-1">Natural Language &amp; Speech</td>
    <td tabindex="-1">Indian Institute of Technology - Kanpur - India</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/chitta-baral/</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">2018-11-30</td>
    </tr>
    <tr>
    <td tabindex="-1">Kasim Candan</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1997</td>
    <td tabindex="-1">Full</td>
    <td tabindex="-1">Databases</td>
    <td tabindex="-1">Bilkent University - Turkey</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/candan-k-selcuk/</td>
    <td tabindex="-1">4587</td>
    <td tabindex="-1">2016-10-21</td>
    </tr>
    <tr>
    <td tabindex="-1">Chitta Baral</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1999</td>
    <td tabindex="-1">Associate</td>
    <td tabindex="-1">Natural Language &amp; Speech</td>
    <td tabindex="-1">Indian Institute of Technology - Kanpur - India</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/chitta-baral/</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">2018-11-30</td>
    </tr>
    <tr>
    <td tabindex="-1">Kasim Candan</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1997</td>
    <td tabindex="-1">Full</td>
    <td tabindex="-1">Databases</td>
    <td tabindex="-1">Bilkent University - Turkey</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/candan-k-selcuk/</td>
    <td tabindex="-1">4587</td>
    <td tabindex="-1">2016-10-21</td>
    </tr>
    <tr>
    <td tabindex="-1">Chitta Baral</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1999</td>
    <td tabindex="-1">Associate</td>
    <td tabindex="-1">Natural Language &amp; Speech</td>
    <td tabindex="-1">Indian Institute of Technology - Kanpur - India</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/chitta-baral/</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">2018-11-30</td>
    </tr>
    <tr>
    <td tabindex="-1">Kasim Candan</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1997</td>
    <td tabindex="-1">Full</td>
    <td tabindex="-1">Databases</td>
    <td tabindex="-1">Bilkent University - Turkey</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/candan-k-selcuk/</td>
    <td tabindex="-1">4587</td>
    <td tabindex="-1">2016-10-21</td>
    </tr>
    <tr>
    <td tabindex="-1">Chitta Baral</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1999</td>
    <td tabindex="-1">Associate</td>
    <td tabindex="-1">Natural Language &amp; Speech</td>
    <td tabindex="-1">Indian Institute of Technology - Kanpur - India</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/chitta-baral/</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">2018-11-30</td>
    </tr>
    <tr>
    <td tabindex="-1">Kasim Candan</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1997</td>
    <td tabindex="-1">Full</td>
    <td tabindex="-1">Databases</td>
    <td tabindex="-1">Bilkent University - Turkey</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/candan-k-selcuk/</td>
    <td tabindex="-1">4587</td>
    <td tabindex="-1">2016-10-21</td>
    </tr>
    <tr>
    <td tabindex="-1">Chitta Baral</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1999</td>
    <td tabindex="-1">Associate</td>
    <td tabindex="-1">Natural Language &amp; Speech</td>
    <td tabindex="-1">Indian Institute of Technology - Kanpur - India</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/chitta-baral/</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">2018-11-30</td>
    </tr>
    <tr>
    <td tabindex="-1">Kasim Candan</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1997</td>
    <td tabindex="-1">Full</td>
    <td tabindex="-1">Databases</td>
    <td tabindex="-1">Bilkent University - Turkey</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/candan-k-selcuk/</td>
    <td tabindex="-1">4587</td>
    <td tabindex="-1">2016-10-21</td>
    </tr>
    <tr>
    <td tabindex="-1">Chitta Baral</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1999</td>
    <td tabindex="-1">Associate</td>
    <td tabindex="-1">Natural Language &amp; Speech</td>
    <td tabindex="-1">Indian Institute of Technology - Kanpur - India</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/chitta-baral/</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">2018-11-30</td>
    </tr>
    <tr>
    <td tabindex="-1">Kasim Candan</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1997</td>
    <td tabindex="-1">Full</td>
    <td tabindex="-1">Databases</td>
    <td tabindex="-1">Bilkent University - Turkey</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/candan-k-selcuk/</td>
    <td tabindex="-1">4587</td>
    <td tabindex="-1">2016-10-21</td>
    </tr>
    <tr>
    <td tabindex="-1">Chitta Baral</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1999</td>
    <td tabindex="-1">Associate</td>
    <td tabindex="-1">Natural Language &amp; Speech</td>
    <td tabindex="-1">Indian Institute of Technology - Kanpur - India</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/chitta-baral/</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">2018-11-30</td>
    </tr>
    <tr>
    <td tabindex="-1">Kasim Candan</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1997</td>
    <td tabindex="-1">Full</td>
    <td tabindex="-1">Databases</td>
    <td tabindex="-1">Bilkent University - Turkey</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/candan-k-selcuk/</td>
    <td tabindex="-1">4587</td>
    <td tabindex="-1">2016-10-21</td>
    </tr>
    <tr>
    <td tabindex="-1">Chitta Baral</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1999</td>
    <td tabindex="-1">Associate</td>
    <td tabindex="-1">Natural Language &amp; Speech</td>
    <td tabindex="-1">Indian Institute of Technology - Kanpur - India</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/chitta-baral/</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">2018-11-30</td>
    </tr>
    <tr>
    <td tabindex="-1">Kasim Candan</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1997</td>
    <td tabindex="-1">Full</td>
    <td tabindex="-1">Databases</td>
    <td tabindex="-1">Bilkent University - Turkey</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/candan-k-selcuk/</td>
    <td tabindex="-1">4587</td>
    <td tabindex="-1">2016-10-21</td>
    </tr>
    <tr>
    <td tabindex="-1">Chitta Baral</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1999</td>
    <td tabindex="-1">Associate</td>
    <td tabindex="-1">Natural Language &amp; Speech</td>
    <td tabindex="-1">Indian Institute of Technology - Kanpur - India</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/chitta-baral/</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">2018-11-30</td>
    </tr>
    <tr>
    <td tabindex="-1">Kasim Candan</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1997</td>
    <td tabindex="-1">Full</td>
    <td tabindex="-1">Databases</td>
    <td tabindex="-1">Bilkent University - Turkey</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/candan-k-selcuk/</td>
    <td tabindex="-1">4587</td>
    <td tabindex="-1">2016-10-21</td>
    </tr>
    <tr>
    <td tabindex="-1">Chitta Baral</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1999</td>
    <td tabindex="-1">Associate</td>
    <td tabindex="-1">Natural Language &amp; Speech</td>
    <td tabindex="-1">Indian Institute of Technology - Kanpur - India</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/chitta-baral/</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">2018-11-30</td>
    </tr>
    <tr>
    <td tabindex="-1">Kasim Candan</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1997</td>
    <td tabindex="-1">Full</td>
    <td tabindex="-1">Databases</td>
    <td tabindex="-1">Bilkent University - Turkey</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/candan-k-selcuk/</td>
    <td tabindex="-1">4587</td>
    <td tabindex="-1">2016-10-21</td>
    </tr>
    <tr>
    <td tabindex="-1">Chitta Baral</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1999</td>
    <td tabindex="-1">Associate</td>
    <td tabindex="-1">Natural Language &amp; Speech</td>
    <td tabindex="-1">Indian Institute of Technology - Kanpur - India</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/chitta-baral/</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">2018-11-30</td>
    </tr>
    <tr>
    <td tabindex="-1">Kasim Candan</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1997</td>
    <td tabindex="-1">Full</td>
    <td tabindex="-1">Databases</td>
    <td tabindex="-1">Bilkent University - Turkey</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/candan-k-selcuk/</td>
    <td tabindex="-1">4587</td>
    <td tabindex="-1">2016-10-21</td>
    </tr>
    <tr>
    <td tabindex="-1">Chitta Baral</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1999</td>
    <td tabindex="-1">Associate</td>
    <td tabindex="-1">Natural Language &amp; Speech</td>
    <td tabindex="-1">Indian Institute of Technology - Kanpur - India</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/chitta-baral/</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">2018-11-30</td>
    </tr>
    <tr>
    <td tabindex="-1">Kasim Candan</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1997</td>
    <td tabindex="-1">Full</td>
    <td tabindex="-1">Databases</td>
    <td tabindex="-1">Bilkent University - Turkey</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/candan-k-selcuk/</td>
    <td tabindex="-1">4587</td>
    <td tabindex="-1">2016-10-21</td>
    </tr>
    <tr>
    <td tabindex="-1">Chitta Baral</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1999</td>
    <td tabindex="-1">Associate</td>
    <td tabindex="-1">Natural Language &amp; Speech</td>
    <td tabindex="-1">Indian Institute of Technology - Kanpur - India</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/chitta-baral/</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">2018-11-30</td>
    </tr>
    <tr>
    <td tabindex="-1">Kasim Candan</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1997</td>
    <td tabindex="-1">Full</td>
    <td tabindex="-1">Databases</td>
    <td tabindex="-1">Bilkent University - Turkey</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/candan-k-selcuk/</td>
    <td tabindex="-1">4587</td>
    <td tabindex="-1">2016-10-21</td>
    </tr>
    <tr>
    <td tabindex="-1">Chitta Baral</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1999</td>
    <td tabindex="-1">Associate</td>
    <td tabindex="-1">Natural Language &amp; Speech</td>
    <td tabindex="-1">Indian Institute of Technology - Kanpur - India</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/chitta-baral/</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">2018-11-30</td>
    </tr>
    <tr>
    <td tabindex="-1">Kasim Candan</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1997</td>
    <td tabindex="-1">Full</td>
    <td tabindex="-1">Databases</td>
    <td tabindex="-1">Bilkent University - Turkey</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/candan-k-selcuk/</td>
    <td tabindex="-1">4587</td>
    <td tabindex="-1">2016-10-21</td>
    </tr>
    <tr>
    <td tabindex="-1">Chitta Baral</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1999</td>
    <td tabindex="-1">Associate</td>
    <td tabindex="-1">Natural Language &amp; Speech</td>
    <td tabindex="-1">Indian Institute of Technology - Kanpur - India</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/chitta-baral/</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">2018-11-30</td>
    </tr>
    <tr>
    <td tabindex="-1">Kasim Candan</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1997</td>
    <td tabindex="-1">Full</td>
    <td tabindex="-1">Databases</td>
    <td tabindex="-1">Bilkent University - Turkey</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/candan-k-selcuk/</td>
    <td tabindex="-1">4587</td>
    <td tabindex="-1">2016-10-21</td>
    </tr>
    <tr>
    <td tabindex="-1">Chitta Baral</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1999</td>
    <td tabindex="-1">Associate</td>
    <td tabindex="-1">Natural Language &amp; Speech</td>
    <td tabindex="-1">Indian Institute of Technology - Kanpur - India</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/chitta-baral/</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">2018-11-30</td>
    </tr>
    <tr>
    <td tabindex="-1">Kasim Candan</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1997</td>
    <td tabindex="-1">Full</td>
    <td tabindex="-1">Databases</td>
    <td tabindex="-1">Bilkent University - Turkey</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/candan-k-selcuk/</td>
    <td tabindex="-1">4587</td>
    <td tabindex="-1">2016-10-21</td>
    </tr>
    <tr>
    <td tabindex="-1">Chitta Baral</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1999</td>
    <td tabindex="-1">Associate</td>
    <td tabindex="-1">Natural Language &amp; Speech</td>
    <td tabindex="-1">Indian Institute of Technology - Kanpur - India</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/chitta-baral/</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">2018-11-30</td>
    </tr>
    <tr>
    <td tabindex="-1">Kasim Candan</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1997</td>
    <td tabindex="-1">Full</td>
    <td tabindex="-1">Databases</td>
    <td tabindex="-1">Bilkent University - Turkey</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/candan-k-selcuk/</td>
    <td tabindex="-1">4587</td>
    <td tabindex="-1">2016-10-21</td>
    </tr>
    <tr>
    <td tabindex="-1">Chitta Baral</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1999</td>
    <td tabindex="-1">Associate</td>
    <td tabindex="-1">Natural Language &amp; Speech</td>
    <td tabindex="-1">Indian Institute of Technology - Kanpur - India</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/chitta-baral/</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">2018-11-30</td>
    </tr>
    <tr>
    <td tabindex="-1">Kasim Candan</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1997</td>
    <td tabindex="-1">Full</td>
    <td tabindex="-1">Databases</td>
    <td tabindex="-1">Bilkent University - Turkey</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/candan-k-selcuk/</td>
    <td tabindex="-1">4587</td>
    <td tabindex="-1">2016-10-21</td>
    </tr>
    <tr>
    <td tabindex="-1">Chitta Baral</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1999</td>
    <td tabindex="-1">Associate</td>
    <td tabindex="-1">Natural Language &amp; Speech</td>
    <td tabindex="-1">Indian Institute of Technology - Kanpur - India</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/chitta-baral/</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">2018-11-30</td>
    </tr>
    <tr>
    <td tabindex="-1">Kasim Candan</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1997</td>
    <td tabindex="-1">Full</td>
    <td tabindex="-1">Databases</td>
    <td tabindex="-1">Bilkent University - Turkey</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/candan-k-selcuk/</td>
    <td tabindex="-1">4587</td>
    <td tabindex="-1">2016-10-21</td>
    </tr>
    <tr>
    <td tabindex="-1">Chitta Baral</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1999</td>
    <td tabindex="-1">Associate</td>
    <td tabindex="-1">Natural Language &amp; Speech</td>
    <td tabindex="-1">Indian Institute of Technology - Kanpur - India</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/chitta-baral/</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">2018-11-30</td>
    </tr>
    <tr>
    <td tabindex="-1">Kasim Candan</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1997</td>
    <td tabindex="-1">Full</td>
    <td tabindex="-1">Databases</td>
    <td tabindex="-1">Bilkent University - Turkey</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/candan-k-selcuk/</td>
    <td tabindex="-1">4587</td>
    <td tabindex="-1">2016-10-21</td>
    </tr>
    <tr>
    <td tabindex="-1">Chitta Baral</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1999</td>
    <td tabindex="-1">Associate</td>
    <td tabindex="-1">Natural Language &amp; Speech</td>
    <td tabindex="-1">Indian Institute of Technology - Kanpur - India</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/chitta-baral/</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">2018-11-30</td>
    </tr>
    <tr>
    <td tabindex="-1">Kasim Candan</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1997</td>
    <td tabindex="-1">Full</td>
    <td tabindex="-1">Databases</td>
    <td tabindex="-1">Bilkent University - Turkey</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/candan-k-selcuk/</td>
    <td tabindex="-1">4587</td>
    <td tabindex="-1">2016-10-21</td>
    </tr>
    <tr>
    <td tabindex="-1">Chitta Baral</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1999</td>
    <td tabindex="-1">Associate</td>
    <td tabindex="-1">Natural Language &amp; Speech</td>
    <td tabindex="-1">Indian Institute of Technology - Kanpur - India</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/chitta-baral/</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">2018-11-30</td>
    </tr>
    <tr>
    <td tabindex="-1">Kasim Candan</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1997</td>
    <td tabindex="-1">Full</td>
    <td tabindex="-1">Databases</td>
    <td tabindex="-1">Bilkent University - Turkey</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/candan-k-selcuk/</td>
    <td tabindex="-1">4587</td>
    <td tabindex="-1">2016-10-21</td>
    </tr>
    <tr>
    <td tabindex="-1">Chitta Baral</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1999</td>
    <td tabindex="-1">Associate</td>
    <td tabindex="-1">Natural Language &amp; Speech</td>
    <td tabindex="-1">Indian Institute of Technology - Kanpur - India</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/chitta-baral/</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">2018-11-30</td>
    </tr>
    <tr>
    <td tabindex="-1">Kasim Candan</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1997</td>
    <td tabindex="-1">Full</td>
    <td tabindex="-1">Databases</td>
    <td tabindex="-1">Bilkent University - Turkey</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/candan-k-selcuk/</td>
    <td tabindex="-1">4587</td>
    <td tabindex="-1">2016-10-21</td>
    </tr>
    <tr>
    <td tabindex="-1">Chitta Baral</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1999</td>
    <td tabindex="-1">Associate</td>
    <td tabindex="-1">Natural Language &amp; Speech</td>
    <td tabindex="-1">Indian Institute of Technology - Kanpur - India</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/chitta-baral/</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">2018-11-30</td>
    </tr>
    <tr>
    <td tabindex="-1">Kasim Candan</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1997</td>
    <td tabindex="-1">Full</td>
    <td tabindex="-1">Databases</td>
    <td tabindex="-1">Bilkent University - Turkey</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/candan-k-selcuk/</td>
    <td tabindex="-1">4587</td>
    <td tabindex="-1">2016-10-21</td>
    </tr>
    <tr>
    <td tabindex="-1">Chitta Baral</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1999</td>
    <td tabindex="-1">Associate</td>
    <td tabindex="-1">Natural Language &amp; Speech</td>
    <td tabindex="-1">Indian Institute of Technology - Kanpur - India</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/chitta-baral/</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">2018-11-30</td>
    </tr>
    <tr>
    <td tabindex="-1">Kasim Candan</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1997</td>
    <td tabindex="-1">Full</td>
    <td tabindex="-1">Databases</td>
    <td tabindex="-1">Bilkent University - Turkey</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/candan-k-selcuk/</td>
    <td tabindex="-1">4587</td>
    <td tabindex="-1">2016-10-21</td>
    </tr>
    <tr>
    <td tabindex="-1">Chitta Baral</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1999</td>
    <td tabindex="-1">Associate</td>
    <td tabindex="-1">Natural Language &amp; Speech</td>
    <td tabindex="-1">Indian Institute of Technology - Kanpur - India</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/chitta-baral/</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">2018-11-30</td>
    </tr>
    <tr>
    <td tabindex="-1">Kasim Candan</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1997</td>
    <td tabindex="-1">Full</td>
    <td tabindex="-1">Databases</td>
    <td tabindex="-1">Bilkent University - Turkey</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/candan-k-selcuk/</td>
    <td tabindex="-1">4587</td>
    <td tabindex="-1">2016-10-21</td>
    </tr>
    <tr>
    <td tabindex="-1">Chitta Baral</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1999</td>
    <td tabindex="-1">Associate</td>
    <td tabindex="-1">Natural Language &amp; Speech</td>
    <td tabindex="-1">Indian Institute of Technology - Kanpur - India</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/chitta-baral/</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">2018-11-30</td>
    </tr>
    <tr>
    <td tabindex="-1">Kasim Candan</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1997</td>
    <td tabindex="-1">Full</td>
    <td tabindex="-1">Databases</td>
    <td tabindex="-1">Bilkent University - Turkey</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/candan-k-selcuk/</td>
    <td tabindex="-1">4587</td>
    <td tabindex="-1">2016-10-21</td>
    </tr>
    <tr>
    <td tabindex="-1">Chitta Baral</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1999</td>
    <td tabindex="-1">Associate</td>
    <td tabindex="-1">Natural Language &amp; Speech</td>
    <td tabindex="-1">Indian Institute of Technology - Kanpur - India</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/chitta-baral/</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">2018-11-30</td>
    </tr>
    <tr>
    <td tabindex="-1">Kasim Candan</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1997</td>
    <td tabindex="-1">Full</td>
    <td tabindex="-1">Databases</td>
    <td tabindex="-1">Bilkent University - Turkey</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/candan-k-selcuk/</td>
    <td tabindex="-1">4587</td>
    <td tabindex="-1">2016-10-21</td>
    </tr>
    <tr>
    <td tabindex="-1">Chitta Baral</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1999</td>
    <td tabindex="-1">Associate</td>
    <td tabindex="-1">Natural Language &amp; Speech</td>
    <td tabindex="-1">Indian Institute of Technology - Kanpur - India</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/chitta-baral/</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">2018-11-30</td>
    </tr>
    <tr>
    <td tabindex="-1">Kasim Candan</td>
    <td tabindex="-1">Arizona State University</td>
    <td tabindex="-1">1997</td>
    <td tabindex="-1">Full</td>
    <td tabindex="-1">Databases</td>
    <td tabindex="-1">Bilkent University - Turkey</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">University of Maryland - College Park - USA</td>
    <td tabindex="-1"></td>
    <td tabindex="-1">Male</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg</td>
    <td tabindex="-1">http://cidse.engineering.asu.edu/directory/candan-k-selcuk/</td>
    <td tabindex="-1">4587</td>
    <td tabindex="-1">2016-10-21</td>
    </tr>
  </tbody>
</table>