<th class="column-search" scope="col" tabindex="-1">
    <div class="input-group">
        <input type="text"  class="form-control">
        <div class="input-group-append">
            <button class="btn btn-light" type="button">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</th>
