<thead>
   <th>
    FullName
   </th>
   <th>
    University
   </th>
   <th>
    JoinYear
   </th>
   <th>
    Rank
   </th>
   <th>
    SubField
   </th>
   <th>
    Bachelors
   </th>
   <th>
    Masters
   </th>
   <th>
    Doctorate
   </th>
   <th>
    PostDoc
   </th>
   <th>
    Gender
   </th>
   <th>
    PhotoURL
   </th>
   <th>
    Sources
   </th>
   <th>
    Last_Updated_By
   </th>
   <th>
    Last_Updated
   </th>
  </thead>
  <tr>
   <th id="1">
    <div class="input-group">
     <input class="form-control py-2 border-right-0 border" id="1" type="search" value=""/>
     <span class="input-group-append">
      <div class="input-group-text bg-transparent" style="padding: 0px 4px;">
       <i class="fa fa-search">
       </i>
      </div>
     </span>
    </div>
   </th>
   <th id="2">
    <div class="input-group">
     <input class="form-control py-2 border-right-0 border" id="2" type="search" value=""/>
     <span class="input-group-append">
      <div class="input-group-text bg-transparent" style="padding: 0px 4px;">
       <i class="fa fa-search">
       </i>
      </div>
     </span>
    </div>
   </th>
   <th id="7">
    <div class="input-group">
     <input class="form-control py-2 border-right-0 border" id="7" type="search" value=""/>
     <span class="input-group-append">
      <div class="input-group-text bg-transparent" style="padding: 0px 4px;">
       <i class="fa fa-search">
       </i>
      </div>
     </span>
    </div>
   </th>
   <th id="8">
    <div class="input-group">
     <input class="form-control py-2 border-right-0 border" id="8" type="search" value=""/>
     <span class="input-group-append">
      <div class="input-group-text bg-transparent" style="padding: 0px 4px;">
       <i class="fa fa-search">
       </i>
      </div>
     </span>
    </div>
   </th>
   <th id="9">
    <div class="input-group">
     <input class="form-control py-2 border-right-0 border" id="9" type="search" value=""/>
     <span class="input-group-append">
      <div class="input-group-text bg-transparent" style="padding: 0px 4px;">
       <i class="fa fa-search">
       </i>
      </div>
     </span>
    </div>
   </th>
   <th id="3">
    <div class="input-group">
     <input class="form-control py-2 border-right-0 border" id="3" type="search" value=""/>
     <span class="input-group-append">
      <div class="input-group-text bg-transparent" style="padding: 0px 4px;">
       <i class="fa fa-search">
       </i>
      </div>
     </span>
    </div>
   </th>
   <th id="4">
    <div class="input-group">
     <input class="form-control py-2 border-right-0 border" id="4" type="search" value=""/>
     <span class="input-group-append">
      <div class="input-group-text bg-transparent" style="padding: 0px 4px;">
       <i class="fa fa-search">
       </i>
      </div>
     </span>
    </div>
   </th>
   <th id="5">
    <div class="input-group">
     <input class="form-control py-2 border-right-0 border" id="5" type="search" value=""/>
     <span class="input-group-append">
      <div class="input-group-text bg-transparent" style="padding: 0px 4px;">
       <i class="fa fa-search">
       </i>
      </div>
     </span>
    </div>
   </th>
   <th id="6">
    <div class="input-group">
     <input class="form-control py-2 border-right-0 border" id="6" type="search" value=""/>
     <span class="input-group-append">
      <div class="input-group-text bg-transparent" style="padding: 0px 4px;">
       <i class="fa fa-search">
       </i>
      </div>
     </span>
    </div>
   </th>
   <th id="10">
    <div class="input-group">
     <input class="form-control py-2 border-right-0 border" id="10" type="search" value=""/>
     <span class="input-group-append">
      <div class="input-group-text bg-transparent" style="padding: 0px 4px;">
       <i class="fa fa-search">
       </i>
      </div>
     </span>
    </div>
   </th>
   <th id="11">
    <div class="input-group">
     <input class="form-control py-2 border-right-0 border" id="11" type="search" value=""/>
     <span class="input-group-append">
      <div class="input-group-text bg-transparent" style="padding: 0px 4px;">
       <i class="fa fa-search">
       </i>
      </div>
     </span>
    </div>
   </th>
   <th id="12">
    <div class="input-group">
     <input class="form-control py-2 border-right-0 border" id="12" type="search" value=""/>
     <span class="input-group-append">
      <div class="input-group-text bg-transparent" style="padding: 0px 4px;">
       <i class="fa fa-search">
       </i>
      </div>
     </span>
    </div>
   </th>
   <th id="13">
    <div class="input-group">
     <input class="form-control py-2 border-right-0 border" id="13" type="search" value=""/>
     <span class="input-group-append">
      <div class="input-group-text bg-transparent" style="padding: 0px 4px;">
       <i class="fa fa-search">
       </i>
      </div>
     </span>
    </div>
   </th>
   <th id="14">
    <div class="input-group">
     <input class="form-control py-2 border-right-0 border" id="14" type="search" value=""/>
     <span class="input-group-append">
      <div class="input-group-text bg-transparent" style="padding: 0px 4px;">
       <i class="fa fa-search">
       </i>
      </div>
     </span>
    </div>
   </th>
  </tr>
  <tr id="1">
   <td id="416325">
    Chitta Baral
   </td>
   <td id="1">
    Arizona State University
   </td>
   <td id="2">
    1999
   </td>
   <td id="427716">
    Associate
   </td>
   <td id="4">
    Natural Language &amp; Speech
   </td>
   <td id="5">
    Indian Institute of Technology - Kanpur - India
   </td>
   <td id="6">
    University of Maryland - College Park - USA
   </td>
   <td id="7">
    University of Maryland - College Park - USA
   </td>
   <td id="8">
   </td>
   <td id="391074">
    Male
   </td>
   <td id="391081">
    http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/chittabaral.jpg
   </td>
   <td id="9">
    http://cidse.engineering.asu.edu/directory/chitta-baral/
   </td>
   <td id="427717">
   </td>
   <td id="420221">
    2018-11-30
   </td>
  </tr>
  <tr id="2">
   <td id="416326">
    Kasim Candan
   </td>
   <td id="10">
    Arizona State University
   </td>
   <td id="11">
    1997
   </td>
   <td id="12">
    Full
   </td>
   <td id="13">
    Databases
   </td>
   <td id="14">
    Bilkent University - Turkey
   </td>
   <td id="15">
   </td>
   <td id="16">
    University of Maryland - College Park - USA
   </td>
   <td id="17">
   </td>
   <td id="414893">
    Male
   </td>
   <td id="415045">
    http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Candan_Selchuk_5512b.jpg
   </td>
   <td id="18">
    http://cidse.engineering.asu.edu/directory/candan-k-selcuk/
   </td>
   <td id="420222">
    4587
   </td>
   <td id="420223">
    2016-10-21
   </td>
  </tr>
  <tr id="3">
   <td id="416327">
    Charles Colbourn
   </td>
   <td id="19">
    Arizona State University
   </td>
   <td id="20">
    2001
   </td>
   <td id="21">
    Full
   </td>
   <td id="391107">
    Networks &amp; Communications
   </td>
   <td id="23">
    University of Toronto - Canada
   </td>
   <td id="24">
    University of Waterloo - Ontario - Canada
   </td>
   <td id="25">
    University of Toronto - Canada
   </td>
   <td id="26">
   </td>
   <td id="391104">
    Male
   </td>
   <td id="391111">
    http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/Colbourn_Charles_8438b1.jpg
   </td>
   <td id="27">
    http://cidse.engineering.asu.edu/directory/charles-colbourn/
   </td>
   <td id="420224">
    2
   </td>
   <td id="420225">
    2015-10-08
   </td>
  </tr>
  <tr id="4">
   <td id="416328">
    James Collofello
   </td>
   <td id="28">
    Arizona State University
   </td>
   <td id="29">
    1979
   </td>
   <td id="30">
    Full
   </td>
   <td id="31">
    Software Engineering
   </td>
   <td id="32">
    Northern Illinois University - USA
   </td>
   <td id="33">
    Northern Illinois University - USA
   </td>
   <td id="34">
    Northwestern University - USA
   </td>
   <td id="35">
   </td>
   <td id="391114">
    Male
   </td>
   <td id="391121">
    http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/jamescollofello.jpg
   </td>
   <td id="36">
    http://cidse.engineering.asu.edu/directory/collofello-james/
   </td>
   <td id="420226">
    2
   </td>
   <td id="420227">
    2015-10-08
   </td>
  </tr>
  <tr id="5">
   <td id="416329">
    Sandeep Gupta
   </td>
   <td id="37">
    Arizona State University
   </td>
   <td id="38">
    2001
   </td>
   <td id="39">
    Full
   </td>
   <td id="40">
    Distributed &amp; Parallel Computing
   </td>
   <td id="41">
   </td>
   <td id="42">
   </td>
   <td id="43">
    Ohio State University - USA
   </td>
   <td id="44">
   </td>
   <td id="391227">
    Male
   </td>
   <td id="391234">
    http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/sandeepgupta-featured.jpg
   </td>
   <td id="45">
    http://cidse.engineering.asu.edu/directory/gupta-sandeep/
   </td>
   <td id="420228">
    2
   </td>
   <td id="420229">
    2015-10-08
   </td>
  </tr>
  <tr id="6">
   <td id="416330">
    Subbarao Kambhampati
   </td>
   <td id="46">
    Arizona State University
   </td>
   <td id="47">
    1991
   </td>
   <td id="48">
    Full
   </td>
   <td id="49">
    Artificial Intelligence
   </td>
   <td id="50">
    Indian Institute of Technology - Madras - India
   </td>
   <td id="51">
    University of Maryland - College Park - USA
   </td>
   <td id="52">
    University of Maryland - College Park - USA
   </td>
   <td id="53">
   </td>
   <td id="391267">
    Male
   </td>
   <td id="391274">
    http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/subbaraokambhampati.jpg
   </td>
   <td id="55">
    http://rakaposhi.eas.asu.edu/rao.html
   </td>
   <td id="420230">
    2
   </td>
   <td id="420231">
    2015-10-08
   </td>
  </tr>
  <tr id="7">
   <td id="416331">
    Huan Liu
   </td>
   <td id="56">
    Arizona State University
   </td>
   <td id="57">
    2000
   </td>
   <td id="58">
    Full
   </td>
   <td id="416149">
    Computer Vision
   </td>
   <td id="60">
    Shanghai Jiaotong University - China
   </td>
   <td id="61">
    University of Southern California - USA
   </td>
   <td id="62">
    University of Southern California - USA
   </td>
   <td id="63">
   </td>
   <td id="391330">
    Male
   </td>
   <td id="391337">
    http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/huanliu.jpg
   </td>
   <td id="64">
    http://cidse.engineering.asu.edu/directory/huan-liu/
   </td>
   <td id="420232">
    7171
   </td>
   <td id="420233">
    2017-04-12
   </td>
  </tr>
  <tr id="8">
   <td id="416332">
    Arunabha Sen
   </td>
   <td id="65">
    Arizona State University
   </td>
   <td id="66">
    1987
   </td>
   <td id="67">
    Full
   </td>
   <td id="68">
    Networks &amp; Communications
   </td>
   <td id="69">
   </td>
   <td id="427686">
    University of Calgary - Canada
   </td>
   <td id="71">
    University of South Carolina - USA
   </td>
   <td id="72">
   </td>
   <td id="427687">
    Decline to Report
   </td>
   <td id="391480">
    http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Sen-Arun.jpg
   </td>
   <td id="73">
    http://cidse.engineering.asu.edu/directory/sen-arunabha/
   </td>
   <td id="427688">
   </td>
   <td id="420235">
    2015-10-08
   </td>
  </tr>
  <tr id="9">
   <td id="416333">
    Wei-Tek Tsai
   </td>
   <td id="74">
    Arizona State University
   </td>
   <td id="75">
    2000
   </td>
   <td id="76">
    Full
   </td>
   <td id="77">
    Distributed &amp; Parallel Computing
   </td>
   <td id="78">
   </td>
   <td id="79">
   </td>
   <td id="80">
    University of California - Berkeley - USA
   </td>
   <td id="81">
   </td>
   <td id="414894">
    Male
   </td>
   <td id="415061">
    https://cidse.engineering.asu.edu/directory/tsai-wei-tek/
   </td>
   <td id="82">
    http://cidse.engineering.asu.edu/directory/tsai-wei-tek/
   </td>
   <td id="420236">
    8361
   </td>
   <td id="420237">
    2017-10-05
   </td>
  </tr>
  <tr id="10">
   <td id="416334">
    Kurt VanLehn
   </td>
   <td id="83">
    Arizona State University
   </td>
   <td id="84">
    2008
   </td>
   <td id="85">
    Full
   </td>
   <td id="86">
    Machine Learning &amp; Pattern Recognition
   </td>
   <td id="391547">
    Stanford University - USA
   </td>
   <td id="391548">
    Massachusetts Institute of Technology - USA
   </td>
   <td id="89">
    Massachusetts Institute of Technology - USA
   </td>
   <td id="90">
   </td>
   <td id="391543">
    Male
   </td>
   <td id="391550">
    http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/VanLehn-Kurt.jpg
   </td>
   <td id="91">
    http://cidse.engineering.asu.edu/directory/kurt-vanlehn/
   </td>
   <td id="420238">
    2
   </td>
   <td id="420239">
    2015-10-08
   </td>
  </tr>
  <tr id="11">
   <td id="416335">
    Guoliang Xue
   </td>
   <td id="92">
    Arizona State University
   </td>
   <td id="93">
    2001
   </td>
   <td id="94">
    Full
   </td>
   <td id="95">
    Security &amp; Privacy
   </td>
   <td id="96">
    Qufu Normal University - China
   </td>
   <td id="97">
    Qufu Normal University - China
   </td>
   <td id="98">
    University of Minnesota - Twin Cities - USA
   </td>
   <td id="99">
   </td>
   <td id="391625">
    Male
   </td>
   <td id="391632">
    http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/Xue-Guoliang-213x300.jpg
   </td>
   <td id="100">
    http://cidse.engineering.asu.edu/directory/xue-guoliang/
   </td>
   <td id="420240">
    2
   </td>
   <td id="420241">
    2015-10-08
   </td>
  </tr>
  <tr id="12">
   <td id="416336">
    Rida Bazzi
   </td>
   <td id="101">
    Arizona State University
   </td>
   <td id="102">
    1996
   </td>
   <td id="415498">
    Full
   </td>
   <td id="104">
    Security &amp; Privacy
   </td>
   <td id="105">
    American University of Beirut - Lebanon
   </td>
   <td id="106">
    Georgia Institute of Technology - USA
   </td>
   <td id="107">
    Georgia Institute of Technology - USA
   </td>
   <td id="108">
   </td>
   <td id="391084">
    Male
   </td>
   <td id="391091">
    http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/ridabazzi.jpg
   </td>
   <td id="109">
    http://cidse.engineering.asu.edu/directory/rida-bazzi/
   </td>
   <td id="420242">
    6734
   </td>
   <td id="420243">
    2017-02-27
   </td>
  </tr>
  <tr id="13">
   <td id="416337">
    Partha Dasgupta
   </td>
   <td id="110">
    Arizona State University
   </td>
   <td id="111">
    1991
   </td>
   <td id="416281">
    Assistant
   </td>
   <td id="113">
    Security &amp; Privacy
   </td>
   <td id="391128">
    Indian Institute of Technology Kharagpur - India
   </td>
   <td id="115">
    Indian Institute of Technology - Kharagpur - India
   </td>
   <td id="116">
    Stony Brook University - USA
   </td>
   <td id="117">
   </td>
   <td id="391124">
    Male
   </td>
   <td id="391131">
    http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/parthadasgupta-featured.jpg
   </td>
   <td id="118">
    http://cidse.engineering.asu.edu/directory/dasgupta-partha/
   </td>
   <td id="420244">
    8361
   </td>
   <td id="420245">
    2017-10-05
   </td>
  </tr>
  <tr id="14">
   <td id="416338">
    Hasan Davulcu
   </td>
   <td id="119">
    Arizona State University
   </td>
   <td id="391135">
    2002
   </td>
   <td id="121">
    Associate
   </td>
   <td id="122">
    Data Mining
   </td>
   <td id="123">
    Middle East Technical University - Turkey
   </td>
   <td id="124">
    Stony Brook University - USA
   </td>
   <td id="125">
    Stony Brook University - USA
   </td>
   <td id="126">
   </td>
   <td id="391134">
    Male
   </td>
   <td id="391141">
    http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/hasandavulcu-featured.jpg
   </td>
   <td id="127">
    http://cidse.engineering.asu.edu/directory/davulcu-hasan/
   </td>
   <td id="420246">
    2
   </td>
   <td id="420247">
    2015-10-08
   </td>
  </tr>
  <tr id="15">
   <td id="416339">
    Joohyung Lee
   </td>
   <td id="128">
    Arizona State University
   </td>
   <td id="129">
    2005
   </td>
   <td id="130">
    Associate
   </td>
   <td id="131">
    Natural Language &amp; Speech
   </td>
   <td id="416235">
   </td>
   <td id="133">
   </td>
   <td id="134">
    University of Texas - Austin - USA
   </td>
   <td id="135">
   </td>
   <td id="391278">
    Male
   </td>
   <td id="391285">
    http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/joohyunglee.jpg
   </td>
   <td id="136">
    http://cidse.engineering.asu.edu/directory/joohyung-lee/
   </td>
   <td id="427689">
   </td>
   <td id="420249">
    2017-07-31
   </td>
  </tr>
  <tr id="16">
   <td id="416340">
    Brian Nelson
   </td>
   <td id="137">
    Arizona State University
   </td>
   <td id="391372">
    2015
   </td>
   <td id="139">
    Associate
   </td>
   <td id="140">
    Computer Education
   </td>
   <td id="141">
    Washington State University - USA
   </td>
   <td id="142">
    Saint Michaels College - USA
   </td>
   <td id="143">
    Harvard University - USA
   </td>
   <td id="144">
   </td>
   <td id="391371">
    Male
   </td>
   <td id="391378">
    http://cidse.engineering.asu.edu/wp-content/uploads/2011/12/BrianNelson.jpg
   </td>
   <td id="145">
    http://cidse.engineering.asu.edu/directory/nelson-brian/
   </td>
   <td id="420250">
    2
   </td>
   <td id="420251">
    2015-10-08
   </td>
  </tr>
  <tr id="17">
   <td id="416341">
    Andrea Richa
   </td>
   <td id="146">
    Arizona State University
   </td>
   <td id="147">
    1998
   </td>
   <td id="415010">
    Full
   </td>
   <td id="149">
    Algorithms &amp; Theory
   </td>
   <td id="150">
    Federal University of Rio de Janeiro - Brazil
   </td>
   <td id="151">
    Carnegie Mellon University - USA
   </td>
   <td id="152">
    Carnegie Mellon University - USA
   </td>
   <td id="153">
   </td>
   <td id="391423">
    Female
   </td>
   <td id="391430">
    http://cidse.engineering.asu.edu/wp-content/uploads/2011/11/andrearicha.jpg
   </td>
   <td id="154">
    http://cidse.engineering.asu.edu/directory/andrea-richa/
   </td>
   <td id="420252">
    8010
   </td>
   <td id="420253">
    2017-07-31
   </td>
  </tr>