<table>
    <tr>
        <th>professor head 1</th>
        <th>professor head 2</th>
    </tr>
    <tr>
        <th>row 1 cell 1</th>
        <th>row 1 cell 2</th>
    </tr>
    <tr>
        <th>row 2 cell 1</th>
        <th>row 2 cell 2</th>
    </tr>
    <tr>
        <th>row 3 cell 1</th>
        <th>row 3 cell 2</th>
    </tr>
</table>